@using System.Globalization
@model DataAccess.CustomModels.ConsultationModel
@{
    Layout = null;
}
@if (Model != null && Model.consultID != 0)
{
    var doctorName = "";
    var age = "N.A";
    var gender = "N.A";
    var languages = "";
    var specialities = "";

    var appDate = "";
    var appTime = "";
    var rov = "N.A";
    var chiefComplaints = "N.A";
    var amount = "N.A";
    var pharmacy = "N.A";
    var cellPhone = "N.A";
    var formattedDate = "";
    var formattedTime = "";
    var subjective = "";
    var assessment = "";
    var plans = "";
    var utcdate = "";
    if (Model.AppointmentVM != null)
    {
        appDate = Model.AppointmentVM.appDate;
        appTime = Model.AppointmentVM.appTime;
        if (Model.AppointmentVM.rov != null) { rov = Model.AppointmentVM.rov; }
        if (Model.AppointmentVM.chiefComplaints != null)
        {
            chiefComplaints = Model.AppointmentVM.chiefComplaints;
        }
        if (Model.AppointmentVM.paymentAmt != null)
        {
            amount = Model.AppointmentVM.paymentAmt.ToString();
        }
    }



    if (Model.DoctorVM != null)
    {
        doctorName = Model.DoctorVM.doctorName;
        if (Model.DoctorVM.dcellPhone != null)
        {
            cellPhone = Model.DoctorVM.dcellPhone;
        }
        if (Model.DoctorVM.doctordob != null) { age = Model.DoctorVM.GetAge(); }
        if (Model.DoctorVM.doctorGender != null)
        {
            gender = Model.DoctorVM.doctorGender;
        }
        if (Model.DoctorVM.dcellPhone != null)
        {
            cellPhone = Model.DoctorVM.dcellPhone;
        }
        if (Model.DoctorVM.languages != null)
        {
            foreach (var item in Model.DoctorVM.languages)
            {
                languages = languages + item.languageName + ",";

            }
        }
        if (Model.DoctorVM.specialities != null)
        {
            foreach (var item in Model.DoctorVM.specialities)
            {
                specialities = specialities + item.specialityName + ",";

            }
        }
    }


    if (Model.PatientVM != null)
    { pharmacy = Model.PatientVM.pharmacy; }



    if (languages == "") { languages = "N.A"; }
    if (specialities == "") { specialities = "N.A"; }



    if (appDate != "")
    {
        DateTime date = DateTime.Parse(appDate);
        //DateTime temp=DateTime.ParseExact(date.Date.ToString(), "MM/dd/yyyy", null);
        formattedDate = string.Format("{0:dd MMM, yyyy}", date);

    }
    if (appTime != "")
    {
        TimeSpan apptimings = TimeSpan.Parse(appTime);
        var dateTime = new DateTime(apptimings.Ticks); // Date part is 01-01-0001
        formattedTime = dateTime.ToString("hh:mm tt", CultureInfo.InvariantCulture);
    }

    if (appDate != "" && appTime != "")
    {
        DateTime utcappdate = DateTime.Parse(appDate);

        TimeSpan utcapptimings = TimeSpan.Parse(appTime);
        DateTime result = Convert.ToDateTime(utcappdate.ToString("yyyy-MM-dd")) + utcapptimings;
        utcdate = string.Format("{0:yyyy-MM-dd HH:mm:ss}", result);



    }
    <div class="modal-header text-center" style="background: #E4F1FE; border-bottom-color: #c3bebe;">
        <h2 style="margin: 0; color: #337ab7"><b>Consultation Details</b></h2>
    </div><!--/.modal header-->


    <div class="modal-body text-left">
        <div class="user-detail">
            <div class="img-1">
                <img src="@(string.IsNullOrEmpty(Model.DoctorVM.ProfilePhotoBase64) ? WebApp.Helper.SessionHandler.ProfilePhoto : Model.DoctorVM.ProfilePhotoBase64)" alt="" class="m-b-10 img-responsive">
            </div>
            <div class="name-sec">
                <h2>Dr.@doctorName</h2>
                <p style="font-size:10px">
                    @age<br>@*<span>Gender: @gender</span>*@
                    Gender: @gender<br>
                    Languages: @languages<br>
                    Specialities: @specialities<br>
                    Cell Phone:@cellPhone
                </p>
            </div>
        </div>

        <div style="border-bottom: 1px Solid #c3bebe; border-top: 1px Solid #c3bebe; margin: 36px -15px 20px; padding: 10px 21px 0; ">
            <p style="color: #375781;"><span style="width: 150px; float: left;">App. Date/Time</span><b>
                <span id="replaceme"></span>
            <script type="text/javascript">
                                var fdate = showLocal('@utcdate');
                                $("#replaceme").html(fdate);
            </script></b></p>
        </div>
        <p style="color: #375781;font-family:Helvetica Neue,Roboto,Arial,Droid Sans,sans-serif; font-size: 14px;font-weight: 400;line-height: 1.471;"><b>Reason of Visit:</b><br> @rov</p>
        <p id="p_chiefComplaints" style="color: #375781;font-family:Helvetica Neue,Roboto,Arial,Droid Sans,sans-serif; font-size: 14px;font-weight: 400;line-height: 1.471;"><b>Chief Complaint:</b><br> @chiefComplaints</p>
        <p id="p_amount" style="color: #375781;font-family:Helvetica Neue,Roboto,Arial,Droid Sans,sans-serif; font-size: 14px;font-weight: 400;line-height: 1.471;"><b>Consult Charges:</b><br> @amount</p>
          
        <div class="m-t-10" style="margin-top:-26px">
            <button onclick=$('#myModal4').modal('toggle');  id="consultationDetail" style="width: 100%; border-radius: 0; color: #fff; padding: 15px 5px; font-size: 20px;" type="button" class="btn btn-primary">OK</button>
            @*<li><a href="#" class="reschedule" data-id="@item.appDate" data-toggle="modal" data-target="#myModal1" data-todo='{"docid":"@item.doctorID","doctorName":"@item.DoctorName","appID":"@item.appID","appDate":"@item.appDate"}' onclick=showDoctorTimings(@item.doctorID,@item.appID) id="@item.doctorID">Reschedule App</a></li>*@
            

        </div>

    </div><!--/.modal body-->
}