@model WebApp.DoseSpotService.PharmacySearchMessageResult
<html>
<head>
    <title>Pharmacy Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm("Index", "DoseSpotDemo", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="Name">Pharmacy Name (atleast three chars):</label>
                        @Html.TextBox("Name", "", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="City">City:</label>
                        @Html.TextBox("City", "", new { @class = "form-control" })
                    </div>
                        <div class="form-group">
                            <label for="State">State:</label>
                            @Html.TextBox("State","", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Zip">Zip:</label>
                            @Html.TextBox("Zip", "", new { @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                }
            </div>
        </div>

        @if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.Result.ResultDescription))
            {

                <p class="well alert alert-error">
                    @Model.Result.ResultDescription
                </p>
            }

            if (Model.Pharmacies != null) { 

            foreach (var item in Model.Pharmacies)
            {
                <div class="well">
                    <label>@item.StoreName</label>
                    <p> @item.Address1, @item.Address2 </p>
                    <p>@item.City, @item.State, @item.ZipCode</p>
                </div>
                <hr />
                }
            }
        }



    </div>


</body>
</html>
