@model String

@{
    var oInputParams = (DataAccess.CustomModels.DoseSpotPatientEntry)ViewBag.ModelInfo;
}
<html>
<head>
    <title>Pharmacy Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
</head>
<body>


    @if (oInputParams != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm("RegisterPatient", "DoseSpotDemo", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="FirstName">First Name:</label>
                            @Html.TextBox("FirstName", oInputParams.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="MiddleName">Middle Name:</label>
                            @Html.TextBox("MiddleName", oInputParams.MiddleName, new { @class = "form-control" })
                        </div>
                            <div class="form-group">
                                <label for="LastName">Last Name:</label>
                                @Html.TextBox("LastName", oInputParams.LastName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="DateOfBirth">DOB:</label>
                                @Html.TextBox("DateOfBirth", oInputParams.DateOfBirth, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Gender">Gender:</label>
                                @Html.TextBox("Gender", oInputParams.Gender, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Address1">Address 1:</label>
                                @Html.TextBox("Address1", oInputParams.Address1, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Address2">Address 2:</label>
                                @Html.TextBox("Address2", oInputParams.Address2, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="City">City:</label>
                                @Html.TextBox("City", oInputParams.City, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="State">State:</label>
                                @Html.TextBox("State", oInputParams.State, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="ZipCode">Zip Code:</label>
                                @Html.TextBox("ZipCode", oInputParams.ZipCode, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Phone">Phone:</label>
                                @Html.TextBox("Phone", oInputParams.Phone, new { @class = "form-control" })
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                    }
                </div>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model))
    {
        <iframe src="@Model" style="width:100%; height:800px;" />
    }


</body>
</html>
