@model DataAccess.CustomModels.DoctorProfileVM
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div><!--/.modal header-->
<div class="modal-body text-left">
    <div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div style="width:100%; height: 150px;" id="map"></div>
                            </div>
                        </div>
                        <div class="row p-30">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="dr_info w-bg box-s">
                                    <div class="map-box">
                                        <div class="box-inner">
                                            <img src="@Model.ProfilePhotoBase64" alt="" class="m-b-10 img-circle img-responsive">
                                        </div>
                                        @if (Model.fav == 1)
                                        {
                                            <a class="hrt" href="#" style="color: #5A738E; left: 10px;"><span id="fav" class="fa fa-heart" aria-hidden="true"></span></a>
                                        }
                                        else if (Model.fav == 0)
                                        {

                                            <a class="hrt1" href="#" style="color: #5A738E; left: 10px;"><span id="nofav" class="fa fa-heart-o" aria-hidden="true"></span></a>
                                        }
                                        @*<i class="popup-circle fa fa-circle" aria-hidden="true" style="color: red;"></i>*@
                                        <h2 class="text-center">@Model.FirstName @Model.LastName <br> <small style="color: #73879C;">(@Model.GetAge())</small></h2>
                                        @*<p class="text-center m-0" style="color: green;">Available for Call</p>*@
                                        <p class="ratings m-t-0 m-b-5" style="text-align: center;">


                                            @if (Model.reviewStar > 0)
                                            {
                                                for (var i = 0; i < Model.reviewStar; i++)
                                                {
                                                    <a href='javascript:void(0);' data-toggle="modal" data-target="#myModal9" class="thumbnail-col-inner" data-id="@Model.DoctorID" id="@Model.DoctorID" onclick=showReviews(@Model.DoctorID);><span class='fa fa-star'></span></a>
                                                }
                                                for (var i = 0; i < 5 - Model.reviewStar; i++)
                                                {
                                                    <a href='javascript:void(0);'><span class='fa fa-star-o'></span></a>

                                                }
                                            }
                                            else
                                            {
                                                for (var i = 0; i < 5; i++)
                                                {
                                                    <a href='javascript:void(0);'><span class='fa fa-star-o'></span></a>
                                                }
                                            }
                                        </p>
                                        <p class="m-tb-15 text-center">
                                            <i class="fa fa-language" aria-hidden="true"></i>
                                            @if (Model.Languages != null && Model.Languages.Count() > 0)
                                            {
                                                foreach (var item in Model.Languages)
                                                {
                                                    <span>@item</span><span>&nbsp;</span>
                                                }
                                            }

                                        </p>
                                        <div class="gray-bdr-b-1"></div>
                                        <p class="m-tb-15"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Location: @Model.City, @Model.State</p>
                                        <div class="gray-bdr-b-1"></div>
                                        <p class="m-tb-15"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp Mobile: @Model.HomePhone</p>
                                        <div class="gray-bdr-b-1"></div>
                                        <p class="m-tb-15">
                                            <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp Speciality:
                                            @if (Model.Speciality != null && Model.Speciality.Count() > 0)
                                            {
                                                foreach (var item in Model.Speciality)
                                                {
                                                    <span>@item</span><span>&nbsp;</span>
                                                }
                                            }

                                        </p>
                                        <div class="gray-bdr-b-1"></div>
                                        <p class="m-tb-15">
                                            <i class="fa fa-circle" aria-hidden="true"></i>&nbsp License States:
                                            @if (Model.LicenseStates != null && Model.LicenseStates.Count() > 0)
                                            {
                                                foreach (var item in Model.LicenseStates)
                                                {
                                                    <span>@item</span><span>&nbsp;</span>
                                                }
                                            }

                                        </p>
                                        @*<div class="text-center">
                                                <button type="button" class="m-t-20 btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp Send Message</button>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <h4><i class="fa fa-user" style="width: 20px;" aria-hidden="true"></i>&nbsp <b>About me:</b></h4>
                                <p style="padding-left: 30px;">@Model.AboutMe</p>
                            </div>
                        </div>
                        <div class="gray-bg p-30 gray-light-bdr-t-1">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    @*<div class="border-left"></div>*@
                                    <h4><i class="fa fa-cogs" style="width: 20px;" aria-hidden="true"></i>&nbsp <b>Work Experience:</b></h4>
                                    @if (!string.IsNullOrEmpty(Model.WorkExperience))
                                    {
                                        <p style="padding-left: 30px;">@Model.WorkExperience</p>
                                    }
                                    <h4><i class="fa fa-graduation-cap" style="width: 20px;" aria-hidden="true"></i>&nbsp <b>Specialization:</b></h4>
                                    @if (!string.IsNullOrEmpty(Model.Specialization))
                                    {
                                                <p style="padding-left: 30px;">@Model.Specialization</p>
                                               
                                    }
                                    <h4><i class="fa fa-graduation-cap" style="width: 20px;" aria-hidden="true"></i>&nbsp <b>Education:</b></h4>
                                    @if (!string.IsNullOrEmpty(Model.Education))
                                    {
                                        <p style="padding-left: 30px;">@Model.Education</p>
                                        
                                    }
                                    <h4><i class="fa fa-book" style="width: 20px;" aria-hidden="true"></i>&nbsp <b>Publications:</b></h4>
                                    @if (!string.IsNullOrEmpty(Model.Publication))
                                    {
                                        <p style="padding-left: 30px;">@Model.Publication</p>
                                        
                                    }
                                    <h4><i class="fa fa-clock-o" style="width: 20px;" aria-hidden="true"></i>&nbsp <b>TimeZone:</b></h4>
                                    @if (!string.IsNullOrEmpty(Model.TimeZone))
                                    {
                                        
                                        <p style="padding-left: 30px;">@Model.TimeZone</p>
                                    }
                                </div>
                            </div>
                        </div><!--/.modal body-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.modal body-->
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 500px;margin-left: 280px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="timingsmodaltitle">Consultation Reviews</h4>
            </div><!--/.modal header-->

            <div class="modal-body text-left">
                <div class="row" id="docrow">
                    <input type="text" style="display:none" id="consultID">

                    <form class="form-horizontal form-label-left" style="margin-top: -20px;">
                        <div class="col-sm-offset-4 col-sm-4">
                            <div class="xdisplay_inputx form-group has-feedback">

                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal form-label-left">
                        <div class="col-sm-12 text-center" id="rdiv">

                        </div>

                        <button style="margin-right: 210px;margin-top: 6px;" type="button" class="btn btn-primary btn-sm pull-right" id="ok" onclick="$('#myModal9').modal('hide')">OK</button>
                    </form>

                </div><!--/.modal body-->
            </div>
        </div>
    </div>
</div><!--doctor reviews-->
<script>
    function showReviews(docid) {

        var did = docid;//$("#pvdocid").val();

        
        var cUrl = "@Url.Action("GetDoctorReviews", "Consultation")?doctorID=" + did;
        $.ajax({
            url: cUrl,
            type: 'POST',
            dataType: 'html',
            cache: false,
            success: function (html) {
                $("#myModal9").find("#rdiv").html(html);
                   
            },
            error: function(){
                new PNotify({ title: 'Error', text: ViewBag.Error , type: 'error', styling: 'bootstrap3' });
            }
        });
        

    }
        function myMap() {

            var lat = '@Model.Latitude';
            var lon = '@Model.Longitude';

            if (lat == '' && lon == '')
            {
                var mapCanvas = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8
                });

                var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder, mapCanvas, '@Model.City');
            }
            else {

                var mapCanvas = document.getElementById('map');

                var mapOptions = {
                    center: new google.maps.LatLng(lat,lon),
                    zoom: 5
                }

                var map = new google.maps.Map(mapCanvas, mapOptions);
            }

        }

        function geocodeAddress(geocoder, resultsMap, address) {
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    //alert('Geocode was not successful for the following reason: ' + status);
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEPd0Djg3V92IbdK1u77KPZCWa-1se_H8&callback=myMap"></script>

