@model IEnumerable<DataAccess.SP_GetDcotorConsultations_Result>
@if (Model == null || Model.Count() == 0)
{
    <div class="well">
        There is no consultation.
    </div>
}
else
{

    <table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="headings">
                <th class="column-title" style="text-align:center">Patient's Name </th>
                <th class="column-title" style="text-align:center">Consultation Time</th>
                <th class="column-title" style="text-align:center">Rating</th>
                <th class="column-title" style="text-align:center">Reason of Visit</th>
                <th class="column-title" style="text-align:center">Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                var j = 1;
                foreach (var item in Model)
                {
                    <tr class="even pointer">
                        <td style="text-align:center;width:20%">@item.PatientName</td>
                        <td style="text-align:center;width:15%">
                            <span class="replacer" id="@("replacedc" + j)"></span>
                            <script type="text/javascript">
                                var fdate = showLocal('@item.utcappDate');
                                $("#replacedc"+@j).html(fdate);
                            </script>
                        </td>
                        @if (item.reviewStar == 0)
                        {
                            <td style="text-align:center;width:10%">
                                Pending
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center;width:10%">
                                @if (item.reviewStar >= 3)
                                {
                                    for (var i = 0; i < item.reviewStar; i++)
                                    {

                                        <a href='javascript:void(0);'><span class='fa fa-star'></span></a>
                                    }
                                    for (var i = 0; i < 5 - item.reviewStar; i++)
                                    {
                                        <a href='javascript:void(0);'><span class='fa fa-star-o'></span></a>
                                    }
                                }
                                else if (item.reviewStar < 3)
                                {
                                    if (item.reviewStatus == true)
                                    {
                                        for (var i = 0; i < item.reviewStar; i++)
                                        {
                                            <a href='javascript:void(0);'><span class='fa fa-star'></span></a>
                                        }
                                        for (var i = 0; i < 5 - item.reviewStar; i++)
                                        {
                                            <a href='javascript:void(0);'><span class='fa fa-star-o'></span></a>

                                        }
                                    }
                                    else
                                    {
                                        <a href='javascript:void(0);'>Approval Pending</a>
                                    }
                                }


                            </td>
                        }
                        <td style="text-align:center;width:20%">@item.rov</td>

                        <td style="text-align:center;width:10%">
                            <button data-toggle="modal" data-id="@item.consultID" id="@item.consultID" data-target="#myModal4"
                                    class="btn btn-primary btn-sm m-b-0 " type="button" onclick=showConsult(@item.consultID);>
                                View Detail
                            </button>
                        </td>
                    </tr>
                    j = j + 1;
                }
            }



        </tbody>
    </table>

}
<!-- Datatables -->
<script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        

        $('#datatable-keytable').DataTable({
          keys: true
        });

       
        $('#datatable-responsive').dataTable({
            'order': [[1, 'desc']],
            columnDefs: [
              { type: 'date-dd-mmm-yyyy', targets: 1 }
            ]
        });
        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
</script>
<!-- /Datatables -->



