@model IEnumerable<DataAccess.SP_GetDcotorConsultations_Result>
@if (Model == null || Model.Count() == 0)
{
    <div class="well">
        There is no consultation.
    </div>
}
else
{

    <table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="headings">
                <th class="column-title">Patient's Name </th>
                <th class="column-title">Date & Time </th>
                <th class="column-title">Rating</th>
                <th class="column-title">ROV </th>
                <th class="column-title">Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                var j = 1;
                foreach (var item in Model)
                {
                    <tr class="even pointer">
                        <td>@item.PatientName</td>
                        <td>@item.appDate @item.appTime</td>
                        @if (item.reviewStar == 0)
                        {
                            <td>
                                Pending
                            </td>
                        }
                        else
                        {
                            <td>
                                @for (var i = 0; i < item.reviewStar; i++)
                                {

                                    <a href='javascript:void(0);'><span class='fa fa-star'></span></a>
                                }
                                @for (var i = 0; i < 5 - item.reviewStar; i++)
                            {
                                    <a href='javascript:void(0);'><span class='fa fa-star-o'></span></a>
                                }

                            </td>
                        }
                        <td>@item.rov</td>

                        <td>
                            <button data-toggle="modal" data-id="@item.consultID" id="@item.consultID" data-target="#myModal4"
                                    class="btn btn-primary btn-sm m-b-0 " type="button" onclick=showConsult(@item.consultID);>
                                View Detail
                            </button>
                        </td>
                    </tr>
                    j = j + 1;
                }
            }



        </tbody>
    </table>

}
<!-- Datatables -->
<script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#rescheduledatatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
</script>
<!-- /Datatables -->



