@model WebApp.Models.SeeDoctorViewModel
@using System.Globalization
@{
    ViewBag.Title = "SeeDoctor";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<link rel = "stylesheet" href = "https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/css/material.min.css" />
<link href = 'http://fonts.googleapis.com/css?family=Roboto:400,500' rel = 'stylesheet' type = 'text/css' >
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet" >
<div class="right_col">
    <div class="clearfix"></div>
    <!--Forms-->
    @if (ViewBag.errorMessage == "")
    {
        <script>
        $(function () {
            new PNotify({
                title: 'Success',
                text: "@ViewBag.successMessage",
                type: 'info',addclass: 'dark',
                styling: 'bootstrap3'
            });
        });

        </script>
    }
    @if (ViewBag.successMessage == "")
    {

        <script>
        $(function () {
            new PNotify({
                title: 'Error',
                text: "@ViewBag.errorMessage",
                type: 'error',
                styling: 'bootstrap3'
            });
        });
        </script>
    }
@if (Model.DoctorList!=null)
{
    <script>
        $(function () {
            document.getElementById("mainpanel").style.display = "block";
        });

    </script>
}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>See a Doctor</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">Search Doctor</span>
                                </a>
                            </li>

                            <li>
                                <a href="#step-2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">Reason Of Visit</span>
                                </a>
                            </li>

                            <li>
                                <a href="#step-3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">Medical History</span>
                                </a>
                            </li>

                            <li>
                                <a href="#step-4">
                                    <span class="step_no">4</span>
                                    <span class="step_descr">Pharmacy</span>
                                </a>
                            </li>

                            <li>
                                <a href="#step-5">
                                    <span class="step_no">5</span>
                                    <span class="step_descr">Appointment Summary</span>
                                </a>
                            </li>
                        </ul>

                        <div id="step-1">

                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Search Doctor</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                @using (Html.BeginForm("Search", "Patient", FormMethod.Post, new { model=@Model, @class = "form-horizontal form-label-left" }))
                                {
                                    <div class="x_content">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Appointment Date:</label>
                                                <div class="xdisplay_inputx form-group has-feedback">
                                                    @*<input type="text" class="form-control has-feedback-left active" id="single_cal1" placeholder="Choose a Date" aria-describedby="inputSuccess2Status">*@
                                                    @Html.TextBoxFor(m => m.AppDate, new { id = "single_cal1", @class = "form-control has-feedback-left active", @placeholder = "Choose a Date"})
                                                    <span class="fa fa-calendar-o form-control-feedback left date" aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                              

                                                <label class="control-label">Perferred Time:</label>
                                                <div class="form-group">
                                                    @*<input type="text" id="time" class="form-control floating-label" placeholder="Time">*@
                                                    @Html.TextBoxFor(m => m.Timing.seacrhTime, new { id = "time",@class = "form-control floating-label", @placeholder = "Time" })

                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                @*<form class="form-horizontal form-label-left">*@
                                                <label class="control-label">Specially:</label>
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.Speciallity, Model.SpeciallityList, "ALL", new { @class = "form-control" })

                                                </div>
                                                <label class="control-label">Language:</label>
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.Language, Model.LanguageList, "ALL", new { @class = "form-control" })

                                               
                                                @*</form>*@
                                            </div>
                                              
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Gender:</label>
                                                <div class="form-group">

                                                  @Html.DropDownListFor(model => model.Gender, Model.GenderList, new { @class = "form-control" })
                                                 </div>
                                                <label class="control-label">Provider name:</label>
                                                <div class="form-group">
                                                   
                                                    @Html.TextBoxFor(m => m.Doctor.firstName, new { @class = "form-control", @placeholder = "Search By Name" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="ln_solid"></div>
                                        <button type="submit" class="btn btn-primary pull-right" id="search-click" onclick="showdiv()">Search</button>

                                    </div>
                                }
                            </div>


                            @*<div id="maindiv"></div>*@
                            <div class="x_panel" id="mainpanel" style="display:none">
                                <div class="x_title">
                                    <h2>Doctor Result</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content according-defalut-close" style="float: none;">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center">
                                            @if (Model.DoctorList != null)
                                            {
                                                var j = 0;
                                                foreach (var item in Model.DoctorList)
                                                {
                                                    <div class="well profile_view p-0">
                                                        <a class="hrt" href="#" style="color: #5A738E;"><span id="toggle1" class="fa fa-heart-o" aria-hidden="true"></span></a>
                                                        <a class="hrt1" href="#" style="color: #5A738E;"><span id="toggle_1" class="fa fa-heart" aria-hidden="true"></span></a>
                                                        <i class="crl fa fa-circle" aria-hidden="true" style="color: green; cursor: pointer;font-size: 12px;"></i>
                                                        <img src="images/img.jpg" alt="" class="img-circle img-responsive m-b-10 m-t-20" style="margin: 0 auto;display: inline-block;">

                                                        <a href="#" class="thumbnail-col-inner" data-toggle="modal" data-target="#myModal1">
                                                            <i class="cl1 fa fa-calendar" aria-hidden="true"></i>
                                                        </a>
                                                        &nbsp
                                                        <a href="#">
                                                            <i class="ph1 fa fa-phone" aria-hidden="true"></i>
                                                        </a>

                                                        <h2 class="m-0">
                                                            <a href="#" class="thumbnail-col-inner m-b-15" data-toggle="modal" data-target="#myModal2">@item.firstName+" "+@item.lastName</a>
                                                        </h2>
                                                        <h4 class="brief m-0" style="color: green">Available for Call</h4>
                                                        <p class="ratings m-t-5" style="text-align: center;">

                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star"></span></a>
                                                            <a href="#"><span class="fa fa-star-o"></span></a>
                                                        </p>
                                                    </div>
                                                }

                                            }
                                        </div><!-- col1 -->

                                     
                                    </div>

                                    <div class="row">
                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div><!--/.modal header-->

                                            <div class="modal-body text-left">
                                                <div class="row">
                                                    <form class="form-horizontal form-label-left">
                                                        <div class="col-sm-offset-4 col-sm-4">
                                                            <div class="xdisplay_inputx form-group has-feedback">
                                                                <input type="text" class="form-control has-feedback-left active" id="single_cal2" placeholder="Choose a Date" aria-describedby="inputSuccess2Status">
                                                                <span class="fa fa-calendar-o form-control-feedback left date" aria-hidden="true"></span>
                                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                            </div>
                                                        </div>
                                                    </form>

                                                    <div class="col-sm-12 text-center">
                                                        <div class="col-lg-2 col-md-4 col-sm-12">
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 col-sm-12">
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 col-sm-12">
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 col-sm-12">
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 col-sm-12">
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 col-sm-12">
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                            <button type="button" class="btn btn-primary">10:00 AM</button>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-primary btn-sm pull-right">Apply</button>
                                                </div><!--/.modal body-->
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- col1 -->

                               
                                <!--start smartWizard content-->
                                <div id="step-2">
                                    <form class="form">
                                        <div class="from-group m-b-20">
                                            <label for="heard">What is the reason for your appointment? (ex: Sore Thorat):</label>
                                            <!-- <select id="heard" class="form-control" required>
                                              <option value="">Choose..</option>
                                              <option value="press">Press</option>
                                              <option value="net">Internet</option>
                                              <option value="mouth">Word of mouth</option>
                                            </select> -->
                                            <div class="input-group" style="width: 100%;">
                                                <input type="text" name="country" placeholder="Reason For Your Appointment" id="autocomplete-custom-append" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group m-b-20">
                                            <label class="ex4">Additional comments or conserns:</label>
                                            <textarea class="form-control" placeholder=""></textarea>
                                        </div>
                                    </form>
                                    <p>Add a photo(helpful for rashes, cut, etc)</p>
                                    <form action="form_upload.html" class="dropzone"></form>
                                    <p>Only .pdf, .gif, .png, .jpeg formats are allowed</p>
                                </div>

                                <div id="step-3">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>My Health Conditions</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">
                                            <div class="table-responsive">
                                                <table class="table" style="margin-bottom: 5px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top: none"><h2>Do you have any health conditions?</h2></td>
                                                            <td style="border-top: none">
                                                                <div class="text-right">
                                                                    <label>
                                                                        No <input type="checkbox" class="js-switch" /> Yes
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <!-- colspan="3" -->
                                                            <td>
                                                                <div class="input-group" style="width: 100%;">
                                                                    <input type="text" name="country" placeholder="Add Conditions" id="autocomplete-custom-append" class="form-control" />
                                                                </div>
                                                            </td>
                                                            <td width="10%">
                                                                <button class="btn btn-primary" style="max-width: 200px; float: right; margin-right: 0;" type="button">Add conditions</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title">My conditions </th>
                                                            <th class="column-title">Reported Date</th>
                                                            <th class="column-title">Source</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr class="even pointer">
                                                            <td>My conditions</td>
                                                            <td>Reported Date</td>
                                                            <td>Source</td>
                                                        </tr>

                                                        <tr class="even pointer">
                                                            <td>My medical conditions1</td>
                                                            <td>Reported Date1</td>
                                                            <td>Source1</td>
                                                        </tr>
                                                        <tr class="even pointer">
                                                            <td>My medical conditions2</td>
                                                            <td>Reported Date2</td>
                                                            <td>Source2</td>
                                                        </tr>
                                                        <tr class="even pointer">
                                                            <td>My medical conditions3</td>
                                                            <td>Reported Date3</td>
                                                            <td>Source3</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>My Medications</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">
                                            <div class="table-responsive">
                                                <table class="table" style="margin-bottom: 5px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top: none"><h2>Are you currently taking any medication?</h2></td>
                                                            <td style="border-top: none"></td>
                                                            <td style="border-top: none">
                                                                <div class="text-right">
                                                                    <label>
                                                                        No <input type="checkbox" class="js-switch" /> Yes
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" name="country" placeholder="Search Medicine" id="autocomplete-custom-append1" class="form-control" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" name="country" placeholder="Select Frequency" id="autocomplete-custom-append2" class="form-control" />
                                                                </div>
                                                            </td>
                                                            <td width="10%">
                                                                <button class="btn btn-primary" style="max-width: 200px; float: right; margin-right: 0;" type="button">Add Medication</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table id="datatable-checkbox" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title">My medication</th>
                                                            <th class="column-title">Frequency</th>
                                                            <th class="column-title">Reported Date</th>
                                                            <th class="column-title">Source</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr class="even pointer">
                                                            <td>My medications1</td>
                                                            <td>Frequency1</td>
                                                            <td>15-10-2016</td>
                                                            <td>Source1</td>
                                                        </tr>

                                                        <tr class="even pointer">
                                                            <td>My medications2</td>
                                                            <td>Frequency2</td>
                                                            <td>15-10-2016</td>
                                                            <td>Source2</td>
                                                        </tr>

                                                        <tr class="even pointer">
                                                            <td>My medications3</td>
                                                            <td>Frequency3</td>
                                                            <td>15-10-2016</td>
                                                            <td>Source3</td>
                                                        </tr>

                                                        <tr class="even pointer">
                                                            <td>My medications4</td>
                                                            <td>Frequency4</td>
                                                            <td>15-10-2016</td>
                                                            <td>Source4</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>My Allergies</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">
                                            <div class="table-responsive">
                                                <table class="table" style="margin-bottom: 5px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top: none"><h2>Do you have any allergies or Drug Sensitivities?</h2></td>
                                                            <td style="border-top: none"></td>
                                                            <td style="border-top: none"></td>
                                                            <td style="border-top: none">
                                                                <div class="text-right">
                                                                    <label>
                                                                        No <input type="checkbox" class="js-switch" /> Yes
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" name="country" placeholder="Add Allergies" id="autocomplete-custom-append3" class="form-control" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" name="country" placeholder="Add Sensitivities" id="autocomplete-custom-append4" class="form-control" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <input type="text" name="country" placeholder="Add Reaction" id="autocomplete-custom-append5" class="form-control" />
                                                                </div>
                                                            </td>
                                                            <td width="10%">
                                                                <button class="btn btn-primary" style="max-width: 200px; float: right; margin-right: 0;" type="button">Add Allergies</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title">My Allergies</th>
                                                            <th class="column-title">Severity</th>
                                                            <th class="column-title">Reaction</th>
                                                            <th class="column-title">Source</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr class="even pointer">
                                                            <td>My allergies1</td>
                                                            <td>Severity1</td>
                                                            <td>Reaction1</td>
                                                            <td>Source1</td>
                                                        </tr>

                                                        <tr class="even pointer">
                                                            <td>My allergies2</td>
                                                            <td>Severity2</td>
                                                            <td>Reaction2</td>
                                                            <td>Source2</td>
                                                        </tr>

                                                        <tr class="even pointer">
                                                            <td>My allergies3</td>
                                                            <td>Severity3</td>
                                                            <td>Reaction3</td>
                                                            <td>Source3</td>
                                                        </tr>

                                                        <tr class="even pointer">
                                                            <td>My allergies4</td>
                                                            <td>Severity4</td>
                                                            <td>Reaction4</td>
                                                            <td>Source4</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>My Surgeries and Procedures</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="table-responsive">
                                                <table class="table" style="margin-bottom: 5px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-top: none">Have you ever had any surgeries or medical procedures?</td>
                                                            <td style="border-top: none">
                                                                <div class="text-right">
                                                                    <label>
                                                                        No <input type="checkbox" class="js-switch" /> Yes
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="input-group" style="width: 100%;">
                                                                    <input type="text" name="country" placeholder="Add Surgeries" id="autocomplete-custom-append6" class="form-control" />
                                                                </div>
                                                            </td>
                                                            <td width="10%">
                                                                <button class="btn btn-primary" style="max-width: 200px; float: right; margin-right: 0;" type="button">Add Surgeries</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Have you ever had any of the following? (Check All that Apply)</b></td>
                                                            <td><b></b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Ankle
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Head
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Neck
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Foot
                                                                    </label>
                                                                </div>
                                                                <br>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Ankle1
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Head1
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Neck1
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Foot1
                                                                    </label>
                                                                </div>
                                                                <br>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Ankle2
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Head2
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Neck2
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox" style="display: inline-block; width: 150px;">
                                                                    <label>
                                                                        <input type="checkbox" class="flat" checked="checked">&nbsp Foot2
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="step-4">
                                    <div class="row" style="margin-bottom: 70px;">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <div class="input-group res-w-input" style="width: 94%; float: left;">
                                                        <input type="text" name="country" placeholder="Search Pharmacy" id="autocomplete-custom-append2" class="form-control" />
                                                    </div>
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li>
                                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <h2 class="m-t-0">Current Pharmacy</h2>
                                                    <h2>Wal-Mart Pharmacy 5866</h2>
                                                    <p>8555 PRESTON RD</p>
                                                    <p>FRISCO TX,75034</p>
                                                    <p><strong>Ph:</strong> (469)237-3768</p>
                                                    <p><strong>Fax:</strong>  2144364723</p>
                                                    <p><strong>Pharmacy Hours:</strong> Open 24 hours</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <!-- <div id="map" style="height: 330px; width: 100%;"></div>
                                            <script>
                                              function initMap() {
                                                var uluru = {lat: 40.723523, lng: -73.9960463};
                                                var map = new google.maps.Map(document.getElementById('map'), {
                                                  zoom: 16,
                                                  center: uluru
                                                });
                                                var marker = new google.maps.Marker({
                                                  position: uluru,
                                                  map: map
                                                });
                                              }
                                            </script>
                                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap" async defer></script>     -->
                                            <img class="gray-bdr-1 img-responsive" src="images/us_map.jpg" style="height: 330px;" />
                                        </div>
                                    </div>
                                </div>

                                <div id="step-5" style="margin-bottom: 70px;">
                                    <h2>You Appointment has been Scheduled Successfully</h2>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>Doctor Information</h2>
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <address>
                                                        <strong>Iron Admin, Inc.</strong>
                                                        <br><strong>Specaility: </strong>General Practice
                                                        <br><strong>Phone: </strong> 1 (804) 123-9876
                                                        <br><strong>Email: </strong> ironadmin.com
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>Appotinment Informationu</h2>
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li>
                                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <address>
                                                        <strong>Date: </strong>Saturday,October 1, 2016
                                                        <br><strong>Time:</strong> 1:01 am
                                                        <br><strong>Reason for Visit: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis, massa non semper posuere, risus diam aliquet metus, eu mollis magna...
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="button">Proceed with payment</button>

                                </div>
                            </div>
                        </div>
                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

            $('#time').bootstrapMaterialDatePicker
			({
			    date: false,
			    shortTime: false,
			    format: 'HH:mm'
			});

                var handleDataTableButtons = function () {
                    if ($("#datatable-buttons").length) {
                        $("#datatable-buttons").DataTable({
                            dom: "Bfrtip",
                            buttons: [
                              {
                                  extend: "copy",
                                  className: "btn-sm"
                              },
                              {
                                  extend: "csv",
                                  className: "btn-sm"
                              },
                              {
                                  extend: "excel",
                                  className: "btn-sm"
                              },
                              {
                                  extend: "pdfHtml5",
                                  className: "btn-sm"
                              },
                              {
                                  extend: "print",
                                  className: "btn-sm"
                              },
                            ],
                            responsive: true
                        });
                    }
                };

                TableManageButtons = function () {
                    "use strict";
                    return {
                        init: function () {
                            handleDataTableButtons();
                        }
                    };
                }();

                $('#datatable').dataTable();

                $('#datatable-keytable').DataTable({
                    keys: true
                });

                $('#datatable-responsive').DataTable();

                $('#datatable-scroller').DataTable({
                    ajax: "js/datatables/json/scroller-demo.json",
                    deferRender: true,
                    scrollY: 380,
                    scrollCollapse: true,
                    scroller: true
                });

                $('#datatable-fixed-header').DataTable({
                    fixedHeader: true
                });

                var $datatable = $('#datatable-checkbox');

                $datatable.dataTable({
                    'order': [[1, 'asc']],
                    'columnDefs': [
                      { orderable: false, targets: [0] }
                    ]
                });
                $datatable.on('draw.dt', function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_flat-green'
                    });
                });

                TableManageButtons.init();
            });
        </script>

        <!-- /jQuery Smart Wizard -->
        <script>
            $(document).ready(function () {
                $('#wizard').smartWizard();

                $('#wizard_verticle').smartWizard({
                    transitionEffect: 'slide'
                });

                $('.buttonNext').addClass('btn btn-primary');
                $('.buttonPrevious').addClass('btn btn-primary');
                $('.buttonFinish').addClass('btn btn-default');
            });
        </script>

        <script>
            $('#compose, .compose-close').click(function () {
                $('.compose').slideToggle();
            });
        </script>

        <script>
            $('#compose1, .compose1-close').click(function () {
                $('.compose1').slideToggle();
            });
        </script>

        <script>
            $('#compose2, .compose2-close').click(function () {
                $('.compose2').slideToggle();
            });
        </script>

        <script>
            $('#compose3, .compose3-close').click(function () {
                $('.compose3').slideToggle();
            });
        </script>

        <script>
            $('#compose4, .compose4-close').click(function () {
                $('.compose4').slideToggle();
            });
        </script>

        <script>
            $('#compose5, .compose5-close').click(function () {
                $('.compose5').slideToggle();
            });
        </script>

        <script>
            $('#compose6, .compose6-close').click(function () {
                $('.compose6').slideToggle();
            });
        </script>

        <script>
            $('#compose7, .compose7-close').click(function () {
                $('.compose7').slideToggle();
            });
        </script>

        <script>
            $('#compose8, .compose8-close').click(function () {
                $('.compose8').slideToggle();
            });
        </script>

        <script>
            $('#compose9, .compose9-close').click(function () {
                $('.compose9').slideToggle();
            });
        </script>

        <script>
            $('#compose10, .compose10-close').click(function () {
                $('.compose10').slideToggle();
            });
        </script>

        <script>
            $('#compose11, .compose11-close').click(function () {
                $('.compose11').slideToggle();
            });
        </script>

        <script>
            $('#compose12, .compose12-close').click(function () {
                $('.compose12').slideToggle();
            });
        </script>

        <script>
            $(document).ready(function () {
                $(".select2_single").select2({
                    placeholder: "Select a state",
                    allowClear: true
                });
                $(".select2_group").select2({});
                $(".select2_multiple").select2({
                    maximumSelectionLength: 4,
                    placeholder: "With Max Selection limit 4",
                    allowClear: true
                });
            });
        </script>

        <!-- jQuery autocomplete -->
        <script>
            $(document).ready(function () {
                var countries = { AD: "Andorra", A2: "Andorra Test", AE: "United Arab Emirates", AF: "Afghanistan", AG: "Antigua and Barbuda", AI: "Anguilla", AL: "Albania", AM: "Armenia", AN: "Netherlands Antilles", AO: "Angola", AQ: "Antarctica", AR: "Argentina", AS: "American Samoa", AT: "Austria", AU: "Australia", AW: "Aruba", AX: "Åland Islands", AZ: "Azerbaijan", BA: "Bosnia and Herzegovina", BB: "Barbados", BD: "Bangladesh", BE: "Belgium", BF: "Burkina Faso", BG: "Bulgaria", BH: "Bahrain", BI: "Burundi", BJ: "Benin", BL: "Saint Barthélemy", BM: "Bermuda", BN: "Brunei", BO: "Bolivia", BQ: "British Antarctic Territory", BR: "Brazil", BS: "Bahamas", BT: "Bhutan", BV: "Bouvet Island", BW: "Botswana", BY: "Belarus", BZ: "Belize", CA: "Canada", CC: "Cocos [Keeling] Islands", CD: "Congo - Kinshasa", CF: "Central African Republic", CG: "Congo - Brazzaville", CH: "Switzerland", CI: "Côte d’Ivoire", CK: "Cook Islands", CL: "Chile", CM: "Cameroon", CN: "China", CO: "Colombia", CR: "Costa Rica", CS: "Serbia and Montenegro", CT: "Canton and Enderbury Islands", CU: "Cuba", CV: "Cape Verde", CX: "Christmas Island", CY: "Cyprus", CZ: "Czech Republic", DD: "East Germany", DE: "Germany", DJ: "Djibouti", DK: "Denmark", DM: "Dominica", DO: "Dominican Republic", DZ: "Algeria", EC: "Ecuador", EE: "Estonia", EG: "Egypt", EH: "Western Sahara", ER: "Eritrea", ES: "Spain", ET: "Ethiopia", FI: "Finland", FJ: "Fiji", FK: "Falkland Islands", FM: "Micronesia", FO: "Faroe Islands", FQ: "French Southern and Antarctic Territories", FR: "France", FX: "Metropolitan France", GA: "Gabon", GB: "United Kingdom", GD: "Grenada", GE: "Georgia", GF: "French Guiana", GG: "Guernsey", GH: "Ghana", GI: "Gibraltar", GL: "Greenland", GM: "Gambia", GN: "Guinea", GP: "Guadeloupe", GQ: "Equatorial Guinea", GR: "Greece", GS: "South Georgia and the South Sandwich Islands", GT: "Guatemala", GU: "Guam", GW: "Guinea-Bissau", GY: "Guyana", HK: "Hong Kong SAR China", HM: "Heard Island and McDonald Islands", HN: "Honduras", HR: "Croatia", HT: "Haiti", HU: "Hungary", ID: "Indonesia", IE: "Ireland", IL: "Israel", IM: "Isle of Man", IN: "India", IO: "British Indian Ocean Territory", IQ: "Iraq", IR: "Iran", IS: "Iceland", IT: "Italy", JE: "Jersey", JM: "Jamaica", JO: "Jordan", JP: "Japan", JT: "Johnston Island", KE: "Kenya", KG: "Kyrgyzstan", KH: "Cambodia", KI: "Kiribati", KM: "Comoros", KN: "Saint Kitts and Nevis", KP: "North Korea", KR: "South Korea", KW: "Kuwait", KY: "Cayman Islands", KZ: "Kazakhstan", LA: "Laos", LB: "Lebanon", LC: "Saint Lucia", LI: "Liechtenstein", LK: "Sri Lanka", LR: "Liberia", LS: "Lesotho", LT: "Lithuania", LU: "Luxembourg", LV: "Latvia", LY: "Libya", MA: "Morocco", MC: "Monaco", MD: "Moldova", ME: "Montenegro", MF: "Saint Martin", MG: "Madagascar", MH: "Marshall Islands", MI: "Midway Islands", MK: "Macedonia", ML: "Mali", MM: "Myanmar [Burma]", MN: "Mongolia", MO: "Macau SAR China", MP: "Northern Mariana Islands", MQ: "Martinique", MR: "Mauritania", MS: "Montserrat", MT: "Malta", MU: "Mauritius", MV: "Maldives", MW: "Malawi", MX: "Mexico", MY: "Malaysia", MZ: "Mozambique", NA: "Namibia", NC: "New Caledonia", NE: "Niger", NF: "Norfolk Island", NG: "Nigeria", NI: "Nicaragua", NL: "Netherlands", NO: "Norway", NP: "Nepal", NQ: "Dronning Maud Land", NR: "Nauru", NT: "Neutral Zone", NU: "Niue", NZ: "New Zealand", OM: "Oman", PA: "Panama", PC: "Pacific Islands Trust Territory", PE: "Peru", PF: "French Polynesia", PG: "Papua New Guinea", PH: "Philippines", PK: "Pakistan", PL: "Poland", PM: "Saint Pierre and Miquelon", PN: "Pitcairn Islands", PR: "Puerto Rico", PS: "Palestinian Territories", PT: "Portugal", PU: "U.S. Miscellaneous Pacific Islands", PW: "Palau", PY: "Paraguay", PZ: "Panama Canal Zone", QA: "Qatar", RE: "Réunion", RO: "Romania", RS: "Serbia", RU: "Russia", RW: "Rwanda", SA: "Saudi Arabia", SB: "Solomon Islands", SC: "Seychelles", SD: "Sudan", SE: "Sweden", SG: "Singapore", SH: "Saint Helena", SI: "Slovenia", SJ: "Svalbard and Jan Mayen", SK: "Slovakia", SL: "Sierra Leone", SM: "San Marino", SN: "Senegal", SO: "Somalia", SR: "Suriname", ST: "São Tomé and Príncipe", SU: "Union of Soviet Socialist Republics", SV: "El Salvador", SY: "Syria", SZ: "Swaziland", TC: "Turks and Caicos Islands", TD: "Chad", TF: "French Southern Territories", TG: "Togo", TH: "Thailand", TJ: "Tajikistan", TK: "Tokelau", TL: "Timor-Leste", TM: "Turkmenistan", TN: "Tunisia", TO: "Tonga", TR: "Turkey", TT: "Trinidad and Tobago", TV: "Tuvalu", TW: "Taiwan", TZ: "Tanzania", UA: "Ukraine", UG: "Uganda", UM: "U.S. Minor Outlying Islands", US: "United States", UY: "Uruguay", UZ: "Uzbekistan", VA: "Vatican City", VC: "Saint Vincent and the Grenadines", VD: "North Vietnam", VE: "Venezuela", VG: "British Virgin Islands", VI: "U.S. Virgin Islands", VN: "Vietnam", VU: "Vanuatu", WF: "Wallis and Futuna", WK: "Wake Island", WS: "Samoa", YD: "People's Democratic Republic of Yemen", YE: "Yemen", YT: "Mayotte", ZA: "South Africa", ZM: "Zambia", ZW: "Zimbabwe", ZZ: "Unknown or Invalid Region" };

                var countriesArray = $.map(countries, function (value, key) {
                    return {
                        value: value,
                        data: key
                    };
                });

                // initialize autocomplete with custom appendTo
                $('#autocomplete-custom-append,#autocomplete-custom-append1,#autocomplete-custom-append2,#autocomplete-custom-append3,#autocomplete-custom-append4,#autocomplete-custom-append5,#autocomplete-custom-append6').autocomplete({
                    lookup: countriesArray
                });
            });
        </script>

        <script>
            $('#search-click').click(function () {
                $('.according-defalut-close').show();
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#single_cal1').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_1"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal2').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_2"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal3').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_3"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal4').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_4"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal5').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_5"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal6').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_6"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal7').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_7"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal8').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_8"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal9').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_9"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal10').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_10"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal11').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_11"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal12').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_12"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $('#single_cal13,#single_cal14,#single_cal15,#single_cal16,#single_cal17,#single_cal18,#single_cal19,#single_cal20,#single_cal21,#single_cal22,#single_cal23,#single_cal24,#single_cal25,#single_cal26,#single_cal27,#single_cal28,#single_cal29,#single_cal30,#single_cal31,#single_cal32,#single_cal33,#single_cal34,#single_cal35,#single_cal36').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_13,picker_14,picker_15,picker_16,picker_17,picker_18,picker_19,picker_20,picker_21,picker_22,picker_23,picker_24,picker_25,picker_26,picker_27,picker_28,picker_29,picker_30,picker_31,picker_32,picker_33,picker_34,picker_35,picker_36"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
            });
        </script>

        <script>
            $('#toggle1').click(function () {
                $('#toggle_1').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_1').click(function () {
                $('#toggle_1').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle2').click(function () {
                $('#toggle_2').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_2').click(function () {
                $('#toggle_2').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle3').click(function () {
                $('#toggle_3').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_3').click(function () {
                $('#toggle_3').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle4').click(function () {
                $('#toggle_4').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_4').click(function () {
                $('#toggle_4').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle5').click(function () {
                $('#toggle_5').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_5').click(function () {
                $('#toggle_5').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle6').click(function () {
                $('#toggle_6').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_6').click(function () {
                $('#toggle_6').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle7').click(function () {
                $('#toggle_7').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_7').click(function () {
                $('#toggle_7').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle8').click(function () {
                $('#toggle_8').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_8').click(function () {
                $('#toggle_8').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle9').click(function () {
                $('#toggle_9').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_9').click(function () {
                $('#toggle_9').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle10').click(function () {
                $('#toggle_10').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_10').click(function () {
                $('#toggle_10').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle11').click(function () {
                $('#toggle_11').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_11').click(function () {
                $('#toggle_11').hide();
                return false;
            });
        </script>

        <script>
            $('#toggle12').click(function () {
                $('#toggle_12').show();
                return false;
            });
        </script>
        <script>
            $('#toggle_12').click(function () {
                $('#toggle_12').hide();
                return false;
            });
        </script>






        <script>
            function showdiv() {
                document.getElementById("mainpanel").style.display = "block";
                //$("#maindiv").appendTo("#mainpanel");
            }
        </script>



        <script>
            $('#next').click(function () {
                $('#step-2').show();
            });
        </script>


        <!-- /jQuery autocomplete -->
