@model DataAccess.CustomModels.DoctorProfileVM
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<!-- page content -->
<div class="right_col">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Doctor Profile</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="width:100%; height: 177px;" id="map"></div>
                        </div>
                    </div>
                    <div class="row p-30">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="dr_info w-bg box-s">
                                <div class="map-box">
                                    <div class="box-inner">
                                        <img style="width:126px;height:126px" src="@Model.ProfilePhotoBase64" alt="" class="m-b-10 img-circle img-responsive">
                                    </div>

                                    <h2 class="text-center">@Model.FirstName @Model.LastName <br> <small style="color: #73879C;">(@Model.GetAge())</small></h2>

                                    <p class="m-tb-15 text-center">
                                        <i class="fa fa-language" aria-hidden="true"></i>
                                        @foreach (var item in Model.Languages)
                                        {
                                            <span>@item</span><span>&nbsp;</span>
                                        }
                                    </p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Location: @Model.City, @Model.State</p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp Mobile: @Model.HomePhone</p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15">
                                        <i class="fa fa-circle-o" aria-hidden="true"></i>&nbsp Speciality:
                                        @foreach (var item in Model.Speciality)
                                        {
                                            <span>@item</span><span>&nbsp;</span>
                                        }
                                    </p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15">
                                        <i class="fa fa-circle" aria-hidden="true"></i>&nbsp License States:
                                        @foreach (var item in Model.LicenseStates)
                                        {
                                            <span>@item</span><span>&nbsp;</span>
                                        }
                                    </p>
                                    @*<div class="text-center">
                                            <button type="button" class="m-t-20 btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp Send Message</button>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <h4><i class="fa fa-user" style="width: 20px;" aria-hidden="true"></i>&nbsp <b>About me:</b></h4>
                            <p style="padding-left: 30px;">@Model.AboutMe</p>
                        </div>
                    </div>

                    <div class="gray-bg p-30 gray-light-bdr-t-1">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="border-left"></div>

                                @if (!string.IsNullOrEmpty(Model.WorkExperience))
                                {
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Work Experience</b></h4>
                                    <p style="padding-left: 25px;"> @Model.WorkExperience</p>
                                }

                                @if (!string.IsNullOrEmpty(Model.Specialization))
                                {
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Specialization</b></h4>
                                    <p style="padding-left: 25px;">@Model.Specialization</p>
                                }

                                @if (!string.IsNullOrEmpty(Model.Education))
                                {
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Education</b></h4>
                                    <p style="padding-left: 25px;">@Model.Education</p>
                                }

                                @if (!string.IsNullOrEmpty(Model.Publication))
                                {
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Publications</b></h4>
                                    <p style="padding-left: 25px;">@Model.Publication</p>
                                }
                                @if (!string.IsNullOrEmpty(Model.TimeZone))
                                {
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Time Zone</b></h4>
                                    <p style="padding-left: 25px;">@Model.TimeZone</p>
                                }
                            </div>
                        </div>
                    </div><!--/.modal body-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@using WebApp.Helper;

@section scripts{

    <script>
        if ('@SessionHandler.UserInfo.title' == '') {
            if (!parent.location.href.toLowerCase().includes('doctorprofile/index')) {
                window.location.href = '@Url.Action("Index", "DoctorProfile")';
            }
        }
        function myMap() {

            var lat = '@Model.Latitude';
            var lon = '@Model.Longitude';

            if (lat == '' && lon == '')
            {
                var mapCanvas = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8
                });

                var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder, mapCanvas, '@Model.City');
            }
            else {

                var mapCanvas = document.getElementById('map');

                var mapOptions = {
                    center: new google.maps.LatLng(lat,lon),
                    zoom: 5
                }
                var map = new google.maps.Map(mapCanvas, mapOptions);
            }

        }

        function geocodeAddress(geocoder, resultsMap, address) {
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEPd0Djg3V92IbdK1u77KPZCWa-1se_H8&callback=myMap"></script>


}