@using WebApp.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
<style>
    .user-detail {
	max-width: 250px;
	margin: 0 auto;
	color: #375781;
	height: 100px;
}

    .img-viewdetail {
        float: left;
        border-radius: 50%;
        max-width: 100px;
    }

    .img-1 {
        float: left;
    }

        .img-1 img {
            border-radius: 50%;
            max-width: 100px;
        }

    .name-sec {
       
        margin-left: 20px;
    }
</style>

@*<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.responsive.min.js"></script>*@


<!-- page content -->
<div class="right_col">
    <div class="page-title">
        <div class="title_left">
            <h3>Appointments</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="" role="tabpanel" data-example-id="togglable-tabs" style="padding-bottom: 180px;">
        <ul id="myTab" class="nav nav-tabs bar_tabs m-b-40" role="tablist">
            <li role="presentation" class="active">
                <a href="#call_history" id="doctor" role="tab" data-toggle="tab" aria-expanded="true" onclick="setTab('U')">Upcoming</a>
            </li>
            <li role="presentation" class="">
                <a href="#find_doctor" role="tab" id="history" data-toggle="tab" aria-expanded="false" onclick="setTab('R')">Reschedule</a>
            </li>
            <li role="presentation" class="">
                <a href="#pending_doctor" role="tab" id="ppending_doctor" data-toggle="tab" aria-expanded="false" onclick="setTab('P')">Pending</a>
            </li>

        </ul>
        <div id="myTabContent" class="tab-content">

            <div role="tabpanel" class="tab-pane fade active in" id="call_history" aria-labelledby="call_history">
                <div class="x_panel">


                    <div class="x_content">
                        <div id="divUpcoming" class="table table-striped dataTable no-footer">
                            @{
                                Html.RenderAction("PartialDoctorUpcoming", "DoctorAppointment");
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="find_doctor" aria-labelledby="find_doctor">
                <div class="x_panel">


                    <div class="x_content">
                        <div id="divReschedule" class="table table-striped dataTable no-footer">
                            @*@{
                                Html.RenderAction("PartialDoctorReschedule", "DoctorAppointment");
                            }*@


                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="pending_doctor" aria-labelledby="pending_doctor">
                <div class="x_panel">


                    <div class="x_content">
                        <div id="divPending" class="table table-striped dataTable no-footer">

                            @*@{
                                Html.RenderAction("PartialDoctorPending", "DoctorAppointment");
                            }*@


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <input type="text" style="display:none" id="pvappid" value="0">
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
        <div class="modal-dialog" style="width: 350px;">
            <div id='myModalContent' class="modal-content" style="border-radius: 0;">
                @{
                    Html.RenderAction("ViewAppDetails", "DoctorAppointment", new { appID = 0 });
                }
            </div>
        </div>
    </div><!-- View App Detail -->
    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" style="z-index: 9997;">
        <div class="modal-dialog" style="width: 350px;">
            <div id='myModalContent' class="modal-content" style="border-radius: 0;">

            </div>
        </div>
    </div><!-- View App Detail -->
     
    
</div>
@*<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" style="z-index: 9998;">
    <div class="modal-dialog" role="document">
        <div id='PatientProfileContent' class="modal-content" style="overflow:auto; border-radius: 0;width: 912px;margin-left: 92px;">
            @{
                Html.RenderAction("PatientProfile", "DoctorAppointment", new { patientID = 0 });
            }
        </div>


    </div>
</div>*@<!-- col4 -->   
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8">
    <div class="modal-dialog" role="document" style="border-bottom: 0;">
        <div id='PatientProfileContent' class="modal-content" style="overflow:auto; border-radius: 0;">
            @{
                Html.RenderAction("PatientProfile", "DoctorAppointment", new { patientID = 0 });
            }
        </div>


    </div>
</div><!-- col4 -->
<iframe id="iframeDownload" style="display:none;"></iframe>

<!-- /page content -->
<!-- Load View App Detail Popup -->
<script>
    function setTab(cTab) {
        currentTab = cTab;
        if (cTab == 'U') {
            $("#divUpcoming").load('@Url.Action("PartialDoctorUpcoming", "DoctorAppointment")', function () {
                callback();
            });

        }
        if (cTab == 'R') {
            $("#divReschedule").load('@Url.Action("PartialDoctorReschedule", "DoctorAppointment")', function () {
                callback();
            });
        }
        if (cTab == 'P') {
            $("#divPending").load('@Url.Action("PartialDoctorPending", "DoctorAppointment")', function () {
                callback();
            });
        }
    }
    

    function downloadFile(fileId) {

        if (confirm("Are you sure you want to downlod file?")) {
            var cUrl = "@Url.Action("Download", "PatientFiles")?fileId=" + fileId;

            $('#iframeDownload').attr('src', cUrl);
            $('#iframeDownload').load();
        }
    }
    var currentTab = "";
    $(document).ready(function () {
        currentTab = "U";
        
    });

    function showProfile(patientid) {

        var id = patientid;

        $("#PatientProfileContent").load('@Url.Action("PatientProfile", "DoctorAppointment")?patientID=' + id, function () {

        });

    };

   function reloadContainer(callback) {

        $("#divReschedule").load('@Url.Action("PartialDoctorReschedule", "DoctorAppointment")', function () {
            callback();
        });
        $("#divUpcoming").load('@Url.Action("PartialDoctorUpcoming", "DoctorAppointment")', function () {
            callback();
        });
       $("#divPending").load('@Url.Action("PartialDoctorPending", "DoctorAppointment")', function () {
           callback();
       });

   }
    function reloadUpcomingandPendingApp(callback)
    {
        $("#divUpcoming").load('@Url.Action("PartialDoctorUpcoming", "DoctorAppointment")', function () {
            callback();
        });
        $("#divPending").load('@Url.Action("PartialDoctorPending", "DoctorAppointment")', function () {
            callback();
        });
    }
</script>

<script type="text/javascript">
        @*$(document).ready(function () {
            
            if('@SessionHandler.UserInfo.timeZone'=='')
            {
                new PNotify({
                    title: 'Info',
                    text: "Please update your timezone.",
                    type: 'info',
                    styling: 'bootstrap3'
                });
                window.location = '@Url.Action("Index","DoctorProfile")';

            }
        });*@
</script>


