@using WebApp.Helper
@model IEnumerable<DataAccess.CustomModels.ReschedulePendingAppModel>
@{
    Layout = null;
}


@if (Model == null || Model.Count() == 0)
{
    <div class="well">
        There is no upcoming appointment.
    </div>

}
else
{

    <table id="pendingdatatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="headings">
                <th class="column-title" style="text-align:center">Patient Name </th>
                <th class="column-title" style="text-align:center">Appointment Time</th>
                <th class="column-title" style="text-align:center">Reason of Visit </th>
                <th class="column-title" style="text-align:center">Chief Complaint</th>
                <th class="column-title" style="text-align:center">Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                var j = 1;
                var consultId = 0;
                foreach (var item in Model)
                {
                    consultId = 0;
                    if (item.consultID != null)
                    {
                        consultId = Convert.ToInt32(item.consultID);
                    }
                    <tr class="even pointer">
                        <td style="text-align:center;width:20%">@item.PatientName</td>
                        <td style="text-align:center;width:15%">@item.appDate @item.appTime</td>
                        <td style="text-align:center;width:20%">@item.rov</td>
                        <td style="text-align:center;width:20%">@item.chiefComplaints</td>
                        <!-- <td><button class="btn btn-primary btn-sm m-b-0 " type="submit">View</button></td> -->
                        <td class="clsTdConsult" data-appid="@item.appID" data-patId="@item.patientID" style="text-align:center;width:10%">
                            <div class="btn-group" role="group">

                                <a style="display:none" onclick="makeCallToPatient('@item.patientID','@item.appID')" class="clsCallPatient" href="javascript:">Call</a>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" style="width:15%">
                                    <li><a href="#" data-toggle="modal" class="thumbnail-pending" data-id="@item.appID" id="@item.doctorID" data-target="#myModal5" onclick=$("#pvappid").val(@item.appID);>View Detail</a></li>

                                    <li><a href="#" class="preschedule" data-id="@item.doctorID" id="@item.appID">Reschedule Req</a></li>
                                    <li><a href="#" onclick="callConsult(@consultId,@item.appID)">Complete Consult</a></li>
                                    <li><input type="text" style="display:none" id="consultid" value="@consultId"></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                    j = j + 1;
                }

            }
        </tbody>
    </table>
}
<!-- Datatables -->
<script>
    $(document).ready(function() {

        $('#pendingdatatable').dataTable({
            'order': [[1, 'desc']],
            columnDefs: [
              { type: 'date-dd-mmm-yyyy', targets: 1 }
            ]
        });
        $('#datatable-keytable').DataTable({
            keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });

        $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

       

        //TableManageButtons.init();
    });
</script>
<!-- /Datatables -->

<script>

    function setTab(cTab) {
        currentTab = cTab;

    }
    function callConsult(consultID,appID)
    {
        var objCRR={};

        if(consultID==0)
        {
            alert('Consultation not found for this appointment.');
            return;
        }
        showLoader();
        objCRR["userID"] = '@SessionHandler.UserInfo.userId.ToString()';
        objCRR["appID"] = appID;
        $.ajax({
            url: '@Url.Action("CompleteApp", "Appointment")',
            type: "POST",
            data: objCRR,
            dataType: 'json',
            success: function (result) {

                //Reload container
                if (result.Message != undefined) {
                    //alert(result.Message.ReasonPhrase);
                    new PNotify({ title: 'Error', text: "Consultation "+" "+result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                    hideLoader();
                }
                else {
                    new PNotify({ title: 'Success', text: "Consultation is completed successfully.", type: 'success', styling: 'bootstrap3' });
                    //alert('Consultation is marked as completed successfully.');
                    reloadContainer(function () {


                        
                    });
                    hideLoader();
                }

            },
            error: function (err) {
                //alert(err.statusText);
                new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                //Stop displaying loader
                hideLoader();
            }
        });
    }
    function csendVariables(doctorid, editappid, elem) {
        var objCRR = {};
        //objCRR["doctorID"] = doctorid;
        objCRR["appID"] = editappid;
        objCRR["appType"] = currentTab;
        objCRR["userID"] = '@SessionHandler.UserInfo.userId';
        showLoader();
        $.ajax({
            url: '@Url.Action("CompleteApp", "DoctorAppointment")',
            type: "POST",
            data: objCRR,
            dataType: 'json',
            success: function (result) {
                //Reload container
                if (result.Message != undefined) {
                    //alert(result.Message.ReasonPhrase);
                    $('#myModal5').modal('hide');
                    new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                    hideLoader();
                }
                else {
                    //alert('Consultation is marked as completed successfully.');
                    new PNotify({ title: 'Success', text: "Consultation is completed successfully.", type: 'success', styling: 'bootstrap3' });
                    $('#myModal5').modal('hide');
                    reloadContainer(function () {

                        // 
                        //Stop displaying loader
                        //stopLoader();
                    });
                    hideLoader();
                }

            },
            error: function (err) {
                //alert(err.statusText);
                $('#myModal5').modal('hide');
                new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                //Stop displaying loader
                hideLoader();
            }
        });
    }
    function usendVariables(doctorid, editappid, elem) {
        var objCRR = {};
        objCRR["userID"] = '@SessionHandler.UserInfo.userId.ToString()';
        objCRR["appID"] = editappid;
        $.ajax({
            url: '@Url.Action("Reschedule", "DoctorAppointment")',
            type: "POST",
            data: objCRR,
            dataType: 'json',
            success: function (result) {
                //Reload container
                if (result.Message != undefined) {
                   // alert(result.Message.ReasonPhrase);
                    new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                    hideLoade();
                }
                else {
                    new PNotify({ title: 'Success', text: "Reschedule Request has been sent to patient.", type: 'success', styling: 'bootstrap3' });
                    $('#myModal5').modal('hide');
                    reloadContainer(function () {

                        // new PNotify({ title: 'Success', text: "Reschedule request is cancelled successfully.", type: 'success', styling: 'bootstrap3' });
                        //Stop displaying loader
                        //stopLoader();

                    });
                    hideLoader();
                }

            },
            error: function (err) {
                //alert(err.statusText);
                new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                //Stop displaying loader
                hideLoader();
            }
        });
    }
    $(function () {
        $(".preschedule").click(function () {

            showLoader();
            var objCRR = {};

            var $buttonClicked = $(this);
            //var AppDetailPostBackURL = '/DoctorAppointment/CancelReschedule';
            var appID = $buttonClicked.attr('id');
            var doctorID = $buttonClicked.attr('data-id');
            objCRR["userID"] = '@SessionHandler.UserInfo.userId.ToString()';
            objCRR["appID"] = appID;
            objCRR["appType"] = currentTab;

            $.ajax({
                url: '@Url.Action("Reschedule", "DoctorAppointment")',
                type: "POST",
                data: objCRR,
                dataType: 'json',
                success: function (result) {
                    //Reload container
                    if (result.Message != undefined) {
                        //alert(result.Message.ReasonPhrase);
                        new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                        hideLoader();
                    }
                    else {
                        //alert('Appointment is rescheduled successfully.');
                        new PNotify({ title: 'Success', text: "Reschedule Request has been sent to patient.", type: 'success', styling: 'bootstrap3' });
                        reloadContainer(function () {

                            
                        });
                        hideLoader();
                    }

                },
                error: function (err) {
                    //alert(err.statusText);
                    new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                    //Stop displaying loader
                    hideLoader();
                }
            });

        });

        //$("#closbtn").click(function () {
        //    $('#myModal4').modal('hide');
        //});
    });

    $(function () {
        $(".complete").click(function () {
            if (consultID == null) {
                alert('Consultation not found for this appointment.');
                return false;
            }

            //showLoader();
            var objCRR = {};

            var $buttonClicked = $(this);
            //var AppDetailPostBackURL = '/DoctorAppointment/CancelReschedule';
            var appID = $buttonClicked.attr('id');
            var consultID = $buttonClicked.attr('data-id');
            objCRR["userID"] = '@SessionHandler.UserInfo.userId.ToString()';
            objCRR["appID"] = appID;
            $.ajax({
                url: '@Url.Action("CompleteApp", "DoctorAppointment")',
                type: "POST",
                data: objCRR,
                dataType: 'json',
                success: function (result) {
                    //Reload container
                    if (result.Message != undefined) {
                        //alert(result.Message.ReasonPhrase);
                        new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                        hideLoader();
                    }
                    else {
                        
                         new PNotify({ title: 'Success', text: "Consultation is completed successfully.", type: 'success', styling: 'bootstrap3' });
                        reloadContainer(function () {

                            
                        });
                        hideLoader();
                    }

                },
                error: function (err) {
                    
                    new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                    //Stop displaying loader
                    hideLoader();
                }
            });

        });

        //$("#closbtn").click(function () {
        //    $('#myModal4').modal('hide');
        //});
    });
</script>

<script>
    $(function () {
        $(".thumbnail-pending").click(function () {
            //debugger;
            var $buttonClicked = $(this);
            var AppDetailPostBackURL = '/DoctorAppointment/ViewAppDetails';
            var id = $buttonClicked.attr('data-id');
            var docid = $buttonClicked.attr('id');
            reloadModelContainer(function () {
                var $modal = $('#myModal5');
                $editappid = $modal.find('#editappid');
                $doctorid = $modal.find('#doctorid');
                $reditappointment = $modal.find('#reditappointment');
                $ueditappointment = $modal.find('#ueditappointment');
                $appType = $modal.find('#appType');
                $reditappointment.show();
                $ueditappointment.hide();
                $editappid.val(id);
                $doctorid.val(docid);
                $appType.val('P');
                if ($("#consultid").val() != 0) {
                    $ceditappointment = $modal.find('#ceditappointment');
                    $ceditappointment.show();
                }

                $reditappointment = $modal.find('#reditappointment');
                $ueditappointment = $modal.find('#ueditappointment');
                $ueditappointment.show();
                $reditappointment.hide();
                $editappointment = $modal.find('#editappointment');
                $editappointment.text('Reschedule Request');
                //Stop displaying loader
                //stopLoader();

            });
            //$.ajax({
            //    type: "GET",
            //    url: AppDetailPostBackURL,
            //    contentType: "application/json; charset=utf-8",
            //    data: { "appID": id },
            //    datatype: "json",
            //    success: function (data) {
            //        $('#myModalContent').html(data);
            //        $('#myModal5').modal('show');
            //        var $modal = $('#myModal5');
            //        $editappid = $modal.find('#editappid');
            //        $doctorid = $modal.find('#doctorid');
            //        $editappid.val(id);
            //        $doctorid.val(docid);
            //        $reditappointment = $modal.find('#reditappointment');
            //        $ueditappointment = $modal.find('#ueditappointment');
            //        $ueditappointment.show();
            //        $reditappointment.hide();
            //        //$editappointment = $modal.find('#editappointment');
            //        //$editappointment.text('Reschedule Request');
            //    },
            //    error: function () {
            //        alert("Dynamic content load failed.");
            //    }
            //});

        });

        //$("#closbtn").click(function () {
        //    $('#myModal4').modal('hide');
        //});
    });
    function reloadModelContainer(callback) {
        var appid = $("#pvappid").val();

        $("#myModalContent").load('@Url.Action("ViewAppDetails", "DoctorAppointment")?appID=' + appid, function () {
            callback();
        });

    }
</script>
<script>

    function handleOnlinePatientsDisplay(){
        //.clsTdConsult

        if(availablePatients.patient && availablePatients.patient.length > 0){

            for (var i = 0; i < availablePatients.patient.length; i++) {
                //find td for that particular patient
                var $call = $(".clsTdConsult[data-patid="+ availablePatients.patient[i].patId +"] .clsCallPatient");
                if($call){
                    $call.show();
                }

            }

        }

    }


</script>