@using WebApp.Helper
@model IEnumerable<DataAccess.CustomModels.RescheduleAppModel>
@{
    Layout = null;
}
@if (ViewBag.successMessage == "")
{

    <script>
        $(function () {
           
            new PNotify({
                title: 'Error',
                text: "@ViewBag.errorMessage",
                type: 'error',
                styling: 'bootstrap3'
            });
        });
    </script>
}

@if (Model == null || Model.Count() == 0)
{
    <div class="well">
        There is no rescheduled appointment.
    </div>
}
else
{

    <table id="rescheduledatatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="headings">
                <th class="column-title" style="text-align:center">Patient Name </th>
                <th class="column-title" style="text-align:center">Appointment Time</th>
                <th class="column-title" style="text-align:center">Reason of Visit </th>
                <th class="column-title" style="text-align:center">Chief Complaint</th>
                <th class="column-title" style="text-align:center">Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="even pointer">
                    <td style="text-align:center;width:20%">@item.PatientName</td>
                    <td style="text-align:center;width:15%">@item.appDate @item.appTime</td>
                    <td style="text-align:center;width:20%">@item.rov</td>
                    <td style="text-align:center;width:20%">@item.chiefComplaints</td>
                    <!-- <td><button class="btn btn-primary btn-sm m-b-0 " type="submit">View</button></td> -->
                    <td style="text-align:center;width:10%">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" data-toggle="modal" class="thumbnail-col-innerr" data-id="@item.appID" id="@item.doctorID" data-target="#myModal5" onclick=$("#pvappid").val(@item.appID);>View Detail</a></li>
                                <li><a href="#" class="cancelreschedule" data-id="@item.doctorID" id="@item.appID">Cancel Reschedule Req</a></li>

                            </ul>
                        </div>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}

<!-- Datatables -->
<script>
      $(document).ready(function() {
      
       $('#rescheduledatatable').dataTable({
           'order': [[1, 'desc']],
           columnDefs: [
             { type: 'date-dd-mmm-yyyy', targets: 1 }
           ]
       });
        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

       

       // TableManageButtons.init();
      });
</script>
<!-- /Datatables -->

<script>
    function setTab(cTab) {
        currentTab = cTab;

    }
    function rsendVariables(doctorid, editappid, elem) {
        var objCRR = {};
        //objCRR["doctorID"] = doctorid;
        objCRR["appID"] = editappid;
        objCRR["userID"] = '@SessionHandler.UserInfo.userId';
        showLoader();
        $.ajax({
            url: '@Url.Action("CancelReschedule", "DoctorAppointment")',
            type: "POST",
            data: objCRR,
            dataType: 'json',
            success: function (result) {
                //Reload container
                if (result.Message != undefined) {
                    alert(result.Message.ReasonPhrase);
                    new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                    hideLoader();
                }
                else {
                    //alert('Reschedule request is cancelled successfully.');
                    new PNotify({ title: 'Success', text: "Reschedule request is cancelled successfully.", type: 'info',addclass: 'dark', styling: 'bootstrap3' });
                    $('#myModal5').modal('hide');
                    reloadContainer(function () {
                        
                        // new PNotify({ title: 'Success', text: "Reschedule request is cancelled successfully.", type: 'info',addclass: 'dark', styling: 'bootstrap3' });
                        //Stop displaying loader
                        hideLoader();

                    });
                }

            },
            error: function (err) {
                //alert(err.statusText);
                new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                //Stop displaying loader
                //stopLoader();
            }
        });
    }

    $(function () {
        $(".cancelreschedule").click(function () {

            showLoader();
            var objCRR = {};
           
            var $buttonClicked = $(this);
            //var AppDetailPostBackURL = '/DoctorAppointment/CancelReschedule';
            var appID = $buttonClicked.attr('id');
            var doctorID = $buttonClicked.attr('data-id');
            objCRR["userID"] = '@SessionHandler.UserInfo.userId';
            objCRR["appID"] = appID;
            $.ajax({
                url: '@Url.Action("CancelReschedule", "DoctorAppointment")',
                type: "POST",
                data: objCRR,
                dataType: 'json',
                success: function (result) {
                    //Reload container
                    if (result.Message != undefined) {
                        //alert(result.Message.ReasonPhrase);
                        new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                        hideLoader();
                    }
                    else {
                        //alert('Reschedule request is cancelled successfully.');
                        new PNotify({ title: 'Success', text: "Reschedule request is cancelled successfully.", type: 'info',addclass: 'dark', styling: 'bootstrap3' });
                        reloadContainer(function () {
                            
                            // new PNotify({ title: 'Success', text: "Reschedule request is cancelled successfully.", type: 'info',addclass: 'dark', styling: 'bootstrap3' });
                            //Stop displaying loader
                            hideLoader();
                           
                        });
                    }

                },
                error: function (err) {
                    //alert(err.statusText);
                    new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                    //Stop displaying loader
                    hideLoader();
                }
            });

        });

        //$("#closbtn").click(function () {
        //    $('#myModal4').modal('hide');
        //});
    });
    </script>

<script>
    $(function () {
        $(".thumbnail-col-innerr").click(function () {
            //debugger;
            var $buttonClicked = $(this);
            var AppDetailPostBackURL = '/DoctorAppointment/ViewAppDetails';
            var id = $buttonClicked.attr('data-id');
            var docid = $buttonClicked.attr('id');
            
            reloadModelContainer(function () {
                var $modal = $('#myModal5');
                $editappid = $modal.find('#editappid');
                $doctorid = $modal.find('#doctorid');
                $reditappointment = $modal.find('#reditappointment');
                $ueditappointment = $modal.find('#ueditappointment');
                $reditappointment.show();
                $ueditappointment.hide();
                $editappid.val(id);
                $doctorid.val(docid);
                //Stop displaying loader
                //stopLoader();

            });
            //alert(detailfor);
            //$.ajax({
            //    type: "GET",
            //    url: AppDetailPostBackURL,
            //    contentType: "application/json; charset=utf-8",
            //    data: { "appID": id },
            //    datatype: "json",
            //    success: function (data) {
            //        $('#myModalContent').html(data);
            //        $('#myModal5').modal('show');
            //        var $modal = $('#myModal5');
            //        $editappid = $modal.find('#editappid');
            //        $doctorid = $modal.find('#doctorid');
            //        $reditappointment = $modal.find('#reditappointment');
            //        $ueditappointment = $modal.find('#ueditappointment');
            //        $reditappointment.show();
            //        $ueditappointment.hide();
            //        $editappid.val(id);
            //        $doctorid.val(docid);
            //    },
            //    error: function () {
            //        alert("Dynamic content load failed.");
            //    }
            //});

        });

        //$("#closbtn").click(function () {
        //    $('#myModal4').modal('hide');
        //});
    });

    function reloadModelContainer(callback) {
        var appid = $("#pvappid").val();

        $("#myModalContent").load('@Url.Action("ViewAppDetails", "DoctorAppointment")?appID=' + appid, function () {
            callback();
        });

    }
    </script>
