<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - @WebApp.Models.AppSettings.AppName</title>
    @Styles.Render("~/Content/NewCss")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url("../../Content/images/bg.jpg");
        }
    </style>
</head>
<body class="login">
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
