@using WebApp.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - @WebApp.Models.AppSettings.AppName</title>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/css/custom.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/pnotify.css")" rel="stylesheet">
    <link href="@Url.Content("/Content/css/green.css")" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/pnotify.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cropit.js")"></script>
    <script src="@Url.Content("~/Scripts/icheck.min.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/daterangepiker/daterangepicker.js")"></script>

    <script src="@Url.Content("~/Scripts/blockUI.js")"></script>
    <script src="@Url.Content("~/Scripts/general.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dataTables.buttons.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dataTables.responsive.min.js")"></script>

    <!--  If this is an MVC project then use the following -->
    <!--  <script src="~/signalr/hubs" type="text/javascript"></script> -->
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <style type="text/css">
        .redBorder, .redBorder:focus, .redBorder:active {
            border-color: red;
        }

        /* Spinner */
        .spinner {
            width: 50px;
            height: 50px;
            display: inline-block;
            padding: 0px;
            border-radius: 100%;
            border: 6px solid;
            border-top-color: #005a9c;
            border-bottom-color: #005a9c;
            border-left-color: rgba(0, 90, 156, 0.15);
            border-right-color: rgba(0, 90, 156, 0.15);
            -webkit-animation: spinner 0.8s ease-in-out infinite alternate;
            animation: spinner 0.8s ease-in-out infinite alternate;
        }

        @@keyframes spinner {
            from {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes spinner {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }
    </style>



</head>
<body class="nav-md">

    <ul id="messages"></ul>
    <div class="container body">
        <div class="main_container" style="background-color: #2a3f54;">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="">
                            <i><img class="img-responsive bk-c-w" src="~/Content/images/Logos.png" /></i>
                            <span><img class="img-responsive bk-c-w" src="~/Content/images/Logo-heart.png" /></span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <!-- menu profile quick info -->
                    <div class="profile m-b-60">
                        <div class="profile_pic">
                            <a href="@Url.Action("Profile","DoctorProfile")">
                                <img src="@SessionHandler.ProfilePhoto" alt="..." class="img-circle profile_img">
                            </a>
                        </div>
                        <div class="profile_info" style="word-break:break-word">
                            <span>Welcome,</span>
                            <h2>@SessionHandler.UserInfo.FirstName&nbsp;@SessionHandler.UserInfo.LastName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu" style="margin-top: 10px;">
                                <li class="scheduler">
                                    <a href="@Url.Action("Index","DoctorAppointment")"><img src="~/Content/images/icon_scheduler.png" alt=""> &nbsp <span class="menu-txt"> Appointment</span></a>
                                    @*<ul class="nav child_menu">
                                            <li><a href="appointments.html">Rescheduled Appointments</a></li>
                                            <li><a href="appointments.html">Pending Appointments</a></li>
                                            <li><a href="appointments.html">Cancelled Appointments</a></li>
                                            <li><a href="appointments.html">Completed Appointments</a></li>
                                        </ul>*@
                                </li>
                                <li class="doctor">
                                    <a href="@Url.Action("DoctorTimings", "Doctor")"><img src="~/Content/images/icon_doc_search.png" alt="">  &nbsp <span class="menu-txt">My Timings</span> </a>
                                </li>
                                <li class="appointment">
                                    <a href="@Url.Action("Index","DoctorConsultation")"><img src="~/Content/images/icon_appointment.png" alt="">  &nbsp <span class="menu-txt">Consult History</span></a>
                                    @*<ul class="nav child_menu">
                                            <li><a href="p_call_history.html"> Patient Call History</a></li>
                                        </ul>*@
                                </li>

                                @*<li class="message">
                                        <a href="@Url.Action("Index", "Messages")"><img src="~/Content/images/icon_messages.png" alt=""> &nbsp <span class="menu-txt">Messages</span> </a>
                                    </li>*@

                                <li class="whats_news">
                                    <a href="@Url.Action("Index","News")"><img src="~/Content/images/whats-new.png" alt="">  &nbsp <span class="menu-txt">Whats New</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="My Profile">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Full Screen" onclick="toggleFullScreen();">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Create Help Ticket">
                            <span class="fa fa-ticket" aria-hidden="true"></span>
                        </a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a data-toggle="tooltip" data-placement="top" title="Logout"
                               href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@SessionHandler.ProfilePhoto" alt="">@SessionHandler.UserName
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("Index","DoctorProfile")"> My Profile</a></li>

                                    <li><a href="javascript:;">Create Help Ticket</a></li>
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="fa fa-sign-out pull-right"></i>
                                            Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="#">
                                                <strong>See All Messages</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div id="divAlerts">
                                    @{
                                        Html.RenderAction("DoctorAlertView", "DoctorAlert");
                                    }
                                </div>
                            </li>
                            @*<li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a href="messages.html">
                                                    <strong>See All Messages</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            @RenderBody()
            <!-- /top navigation -->
            <!-- saeed-style-here-start -->
            <!-- saeed-style-here-end -->
            <!-- footer content -->
            <footer>
                <div class=" bdr-l">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                Copyright &copy;
                                <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script><a href="#">SwiftKare</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <script type="text/javascript">
       

        // Proxy created on the fly
        var chat = $.connection.chatHub;

        var testing;
        var availablePatients = {
            patient: [
                {
                    connectionId: "",
                    firstName: "",
                    lastName: "",
                    userName: "",
                    patId: null
                }
            ]
        };

        function makeCallToPatient(patId, appId) {

            var oPatInfo = null;
            for (var i = 0; i < availablePatients.patient.length; i++) {
                if (availablePatients.patient[i].patId == patId) {
                    oPatInfo = availablePatients.patient[i];
                    break;
                }
            }

            if (oPatInfo == null) {
                alert('Patient is not online now');
                return;
            }

            var PatientName = oPatInfo.firstName + ' ' + oPatInfo.lastName;

            //Log Call Info - Starts
            var cCallLogUrl = '@Url.Action("DoctorCallPatient", "UserChat")?patientId=' + patId;
            $.post(cCallLogUrl);
            //Log Call Info- Ends

            chat.server.callPatient(
            {
                SenderId: '@SessionHandler.UserInfo.Id',
                UserName: '@SessionHandler.UserInfo.Email',
                ReceiverConnectionId: oPatInfo.connectionId,
                ReceiverId: patId,
                PatientName: oPatInfo.firstName + ' ' + oPatInfo.lastName,
                DoctorName: '@(SessionHandler.UserInfo.FirstName + " " + SessionHandler.UserInfo.LastName)',
                SenderType: 'Doctor',
                AppId: appId,
                Message: JSON.stringify({ status: 'call', name: '@(SessionHandler.UserInfo.FirstName + " " + SessionHandler.UserInfo.LastName)' }),
                UserGroup: 'doctors'
            });
        }

        $(function () {

            // Start the connection
            $.connection.hub.logging = true;
            $.connection.hub.start().done(function () {
                var sid = $.cookie('sid');

                chat.server.join(
                    {
                        Id: '@SessionHandler.UserInfo.Id',
                        UserName: '@SessionHandler.UserInfo.Email',
                        FirstName: '@SessionHandler.UserInfo.FirstName',
                        LastName: '@SessionHandler.UserInfo.LastName',
                        UserType: 'Doctor'
                    });

                chat.server.adminJoin().done(function () {
                    //alert("New doctor has joined... Refresh list;");
                    chat.server.getUsersPatient();
                });

            });

            // Declare a function on the chat hub so the server can invoke it
            chat.client.showConnected = function (message) {
                availablePatients.patient = [];

                for (var i = 0; i < message.length; i++) {
                    availablePatients.patient.push({
                        connectionId: message[i].Key,
                        firstName: message[i].Value.FirstName,
                        lastName: message[i].Value.LastName,
                        userName: message[i].Value.UserName,
                        patId: message[i].Value.Id
                    });
                }


                //$.each(message, function (index, value) {
                //    $.each(message, function (index, value1) {
                //        availablePatients.patient.push({
                //            connectionId: value1.Value.ConnectionId,
                //            firstName: value1.Value.FirstName,
                //            lastName: value1.Value.LastName,
                //            userName: value1.Value.UserName,
                //            patId: value1.Value.Id
                //        });
                //    });
                //});

                if (handleOnlinePatientsDisplay) {
                    handleOnlinePatientsDisplay();
                }

            };

            chat.client.patientAcceptedCall = function (patUserName, patId, appId) {
                alert('Patient ' + patUserName + ' accepted call.');
            }

            chat.client.patientRejectedCall = function (patUserName, patId, appId) {
                alert('Patient ' + patUserName + ' rejected call.');
            }

            chat.client.patientRedirectedToCallHandle = function (consultId, patId, patName) {
                var cUrlReadyForCall = "@Url.Action("ReadyForCall","UserChat")?senderId=@SessionHandler.UserInfo.Id&userType=Doctor&receiverId=" + patId + "&doctorName=@(SessionHandler.UserInfo.FirstName + " "+ SessionHandler.UserInfo.LastName)&patientName=" + patName;

                $.post(cUrlReadyForCall, function (oResp) {
                    localStorage.setItem('consultationKey', consultId);

                    //Redirect doctor to call
                    window.location = '@Url.Action("Index","UserChat")';
                });
            }

            chat.client.receiveMessage = function (msgFrom, msg, receiverId, senderid) {
                $('#messages').empty();

                if (msgFrom != 'ChatHub') {
                    var txt = "";
                    //alert(msg);
                    var fromJson = JSON.parse(msg);

                    var confirmCall = confirm(fromJson.name + " want to have a video consultation, Please press OK to accept!");
                    if (confirmCall == true) {
                        txt = "Accepted";

                        //Log Call Accepted - Starts
                        var cCallLogUrl = '@Url.Action("DoctorAcceptedCall", "UserChat")?patientId=' + senderid;
                        $.post(cCallLogUrl);
                        //Log Call Accepted - Ends
                    } else {
                        txt = "Declined";

                        //Log Call Declined - Starts
                        var cCallLogUrl = '@Url.Action("DoctorDeclinedCall", "UserChat")?patientId=' + senderid;
                        $.post(cCallLogUrl);
                        //Log Call Declined - Ends
                    }

                    //Save SignalR Information to local storage so that it can be used whenever needed.
                    var signalRInfo = {
                        SenderId: '@SessionHandler.UserInfo.Id',
                        UserName: '@SessionHandler.UserInfo.Email',
                        ReceiverConnectionId: receiverId,
                        ReceiverId: senderid
                    }
                    var strSignalRInfo = window.JSON.stringify(signalRInfo);
                    localStorage.setItem('signalRInfo', strSignalRInfo);

                    var doctorName = '@string.Format("{0} {1}", SessionHandler.UserInfo.FirstName, SessionHandler.UserInfo.LastName)';

                    chat.server.sendMessageToPatient({
                        SenderId: '@SessionHandler.UserInfo.Id',
                        UserName: '@SessionHandler.UserInfo.Email',
                        ReceiverConnectionId: receiverId,
                        ReceiverId: '20',
                        SenderType: 'Doctor',
                        Message: JSON.stringify({ status: txt, name: doctorName })
                    });

                    if (confirmCall == true) {
                        var cUrlReadyForCall = "@Url.Action("ReadyForCall","UserChat")?senderId=" + signalRInfo.SenderId + "&userType=Doctor&receiverId=" + signalRInfo.ReceiverId + "&recipientName=" + fromJson.name;

                        $.post(cUrlReadyForCall, function (oResp) {
                            if (oResp) {
                                localStorage.setItem('consultationKey', oResp);

                                //Redirect doctor to call
                                window.location = '@Url.Action("Index","UserChat")';
                            }
                        });
                    }
                }
            };
        });


    </script>
    <script>
        $(document).ajaxSuccess(function (evt, request, settings) {
            console.log(request.response);
            if (request.response != null) {
                if (request.response.redirectUrl != null)
                    window.location.href = request.response.redirectUrl;
            }
        });
        $('#menu_toggle').click(function () { if (document.body.className == "nav-md footer_fixed") { ($("body").attr("class", "nav-sm footer_fixed")); $('.fa-angle-down').show(); } else { $("body").attr("class", "nav-md footer_fixed"); } });
        $('.menu_section li').hover(
           function () { $(this).addClass('current-page') },
           function () { $(this).removeClass('current-page') }
    )
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
