@using WebApp.Helper;
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SwiftKare </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- Bootstrap -->
     <link href="~/Scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
     <!-- Font Awesome -->
     
      <link href="~/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@
    <!-- Custom Theme Style -->
    <link href="~/Scripts/build/css/custom.min.css" rel="stylesheet" />
   <link href="~/Scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/css/buttons.bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/css/responsive.bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/css/scroller.bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/css/select2.min.css" rel="stylesheet" />
      <link href="~/Content/css/starrr.css" rel="stylesheet" />
      <link href="~/Content/css/pnotify.css" rel="stylesheet" />
      <!-- bootstrap-wysiwyg -->
      <link href="~/Content/css/prettify.min.css" rel="stylesheet" />
   
       <!-- Custom Theme Style -->
   <link href="~/Content/css/custom.min.css" rel="stylesheet" />
      <!-- jQuery -->
  
    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
     
      <script src="~/Scripts/starrr.js"></script>
       <script src="~/Scripts/pnotify.js"></script>
      <script src="~/Scripts/nprogress.js"></script>
      <script src="~/Scripts/bootstrap/bootstrap-progressbar.min.js"></script>

       

  </head>

  <body class="nav-md">
   <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view" style="height:1000px;" id="divMenu">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><span>SwiftKare</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    @*<div class="profile">
                        <div class="profile_pic">
                            <img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>*@
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                               <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-user"></i> Users Setup <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                         <li>@Html.ActionLink("Create Admin User", "../Admin/Create")</li>
                                        <li>@Html.ActionLink("Create Doctor", "../Doctor_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create Patient", "../Patient_Admin/Create")</li>
                                    </ul>
                                </li>
                                    <li>
                                    <a><i class="fa fa-database"></i>Setup Forms <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Create Reason of Visit", "../ROV_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create Allergy", "../Allergy_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create City", "../City_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create Document Type", "../DocumentType_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create Language", "../Languages_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create Medicine", "../Medicine_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create Speciality", "../Speciality_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create State", "../States_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create System", "../Systems_Admin/Create")</li>
                                        <li>@Html.ActionLink("Create SystemItem", "../SystemItem_Admin/Create")</li>
                                        @*<li>@Html.ActionLink("Create Role", "../Role_Admin/Create")</li>*@
                                        <li>@Html.ActionLink("Create ZipCode", "../ZipCode_Admin/Create")</li>
                                      

                                    </ul>
                                </li>
                                   <li>
                                    <a><i class="fa fa-check"></i> Approvals <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                         <li>@Html.ActionLink("Doctor Approval", "../Doctor_Admin/DoctorsForApproval") </li>
                                        <li>@Html.ActionLink("Comments Approval", "../Consultation_Admin/ReviewsApproval")</li>
                                       
                                    </ul>
                                </li>
                                 <li>
                                    <a><i class="fa fa-check"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                         <li>@Html.ActionLink("Doctors", "../Doctor_Admin/Report") </li>
                                        <li>@Html.ActionLink("Patients", "../Patient_Admin/Report")</li>
                                         <li>@Html.ActionLink("Consultations", "../Consultation_Admin/ConsultationReport")</li>
                                                                                
                                    </ul>
                                </li>

                                <li><a href="@Url.Action("TransactionHistory", "Transaction_Admin")"><i class="fa fa-clock-o"></i>Transaction History</a></li>
                               
                                <li><a href="@Url.Action("AppReport", "Consultation_Admin")"><i class="fa fa-clock-o"></i>Appointments</a></li>
                                <li><a href="@Url.Action("Create", "News_Admin")"><i class="fa fa-rss"></i>Add News</a></li>
                               
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    @* <div class="sidebar-footer hidden-small">
                          <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                          </a>
                        </div>*@
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @*<img src="images/img.jpg" alt="">*@
                                    @Session["LogedUserFullname"]
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    
                                    
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "AdminLogin", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                       @*<li><a class="btn btn-link submit"><i class="fa fa-sign-out pull-right"></i>Log Out</a></li>*@
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i>Log Out</a></li>
                                            @*<li><input type="submit" class="btn btn-link submit"><i class="fa fa-sign-out pull-right"></i>Log Out</li>*@
                                    }
                                    }
</ul>
                            </li>

                            
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
              <!-- /page content -->
            <div class="right_col" role="main" id="div_content">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
           
            <footer>
                <div class="bdr-l">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                Copyright &copy;
                                <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script><a href="#"> | SwiftKare</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </footer>
               
                    <!-- /footer content -->
</div>
    </div>
 
    <!-- Custom Theme Scripts -->
   
    <script src="~/Scripts/build/js/custom.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    
    
  </body>
</html>
