@using WebApp.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - @WebApp.Models.AppSettings.AppName</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    @Styles.Render("~/Content/NewCss")


    @Scripts.Render("~/bundles/modernizr")

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/js")
    <script src="@Url.Content("~/Scripts/blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cropit.js")"></script>
    <script src="@Url.Content("~/Scripts/daterangepiker/daterangepicker.js")"></script>

    <style type="text/css">
        .redBorder, .redBorder:focus, .redBorder:active {
            border-color: red;
        }

        /* Spinner */
        .spinner {
            width: 50px;
            height: 50px;
            display: inline-block;
            padding: 0px;
            border-radius: 100%;
            border: 6px solid;
            border-top-color: #005a9c;
            border-bottom-color: #005a9c;
            border-left-color: rgba(0, 90, 156, 0.15);
            border-right-color: rgba(0, 90, 156, 0.15);
            -webkit-animation: spinner 0.8s ease-in-out infinite alternate;
            animation: spinner 0.8s ease-in-out infinite alternate;
        }

        @@keyframes spinner {
            from {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes spinner {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }
    </style>
</head>

<body class="nav-md">
    <div style="display:none">
        <input type="text" id="receiverConnectionId" value="" style="display:none;" />
        Please select the doctor before calling...
        <select id="ddlAvailableDoctors"></select>

        <input type="button" id="sendmessage" value="Call to Doctor" />
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="">
                            <i><img class="img-responsive bk-c-w" src="~/Content/images/Logos.png" /></i>
                            <span><img class="img-responsive bk-c-w" src="~/Content/images/Logo-heart.png" /></span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <!-- menu profile quick info -->
                    <div class="profile m-b-60">
                        <div class="profile_pic">
                            <a href="@Url.Action("Profile","PatientProfile")">
                                <img src="@SessionHandler.ProfilePhoto" alt="..." class="img-circle profile_img">
                            </a>
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@SessionHandler.UserName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu" style="margin-top: 10px;">
                                <li class="scheduler">
                                    <a href="#"><img src="~/Content/images/appointments.png" alt=""> &nbsp <span class="menu-txt"> Appointment</span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="appointments.html">Rescheduled Appointments</a></li>
                                        <li><a href="appointments.html">Pending Appointments</a></li>
                                        <li><a href="appointments.html">Cancelled Appointments</a></li>
                                        <li><a href="appointments.html">Completed Appointments</a></li>
                                    </ul>
                                </li>
                                <li class="doctor">
                                    <a href="@Url.Action("SeeDoctor", "SeeDoctor")"><img src="~/Content/images/icon_doc_search.png" alt="">  &nbsp <span class="menu-txt">See a doctor</span> </a>
                                </li>
                                <li class="appointment">
                                    <a href="#"><img src="~/Content/images/history.png" alt="">  &nbsp <span class="menu-txt">Consult History</span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="p_call_history.html"> Patient Call History</a></li>
                                    </ul>
                                </li>
                                <li class="patient">
                                    <a href="@Url.Action("Index","MyHealth")"><img src="~/Content/images/my-health.png" alt=""> &nbsp <span class="menu-txt">My Health</span> </a>
                                </li>
                                <li class="message">
                                    <a href="@Url.Action("Index","PatientFiles")"><img src="~/Content/images/my-files.png" alt=""> &nbsp <span class="menu-txt">My Files</span> </a>
                                </li>
                                <li class="call_history">
                                    <a href="#"><img src="~/Content/images/my-doctors1.png" alt="">  &nbsp <span class="menu-txt">My Doctors</span> </a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Dashboard</a></li>
                                    </ul>
                                </li>
                                <li class="call_history">
                                    <a href="@Url.Action("Index","News")"><img src="~/Content/images/whats-new.png" alt="">  &nbsp <span class="menu-txt">Whats New</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Ticket">
                            <span class="fa fa-ticket" aria-hidden="true"></span>
                        </a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a data-toggle="tooltip" data-placement="top" title="Logout"
                               href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@SessionHandler.ProfilePhoto" alt="">@SessionHandler.UserName
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("Index","PatientProfile")"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="fa fa-sign-out pull-right"></i>
                                            Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">

                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="#">
                                                <strong>See All Messages</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="messages.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="messages.html">
                                                <strong>See All Messages</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            @RenderBody()

            <!-- /top navigation -->
            <!-- saeed-style-here-start -->
            <!-- saeed-style-here-end -->
            <!-- footer content -->
            <footer>
                <div class=" bdr-l">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                Copyright &copy;
                                <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script><a href="#">SwiftKare</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
    </div>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        // Proxy created on the fly
        var chat = $.connection.chatHub;
        var senderConnectionId;
        var found = false;

        var availableDoctors = {
            doctor: [
                {
                    connectionId: "",
                    firstName: "",
                    lastName: "",
                    userName: "",
                    docId: null
                }
            ]
        };


        function checkAnyDoctorAvailableNow() {

            $(".clsDivDocList .clsAvailbleForCall").hide();

            $(".clsDivDocList .clsNotAvailbleForCall").show();

            $(".clsDivDocList .clsMakeCall").hide();
            $(".clsDivDocList .clsNotMakePhone").show();

            $(".clsDivDocList .clsAvailableSpot").css('color', 'red');


            for (var i = 0; i < availableDoctors.doctor.length; i++) {
                if ($(".clsDivDocList .clsMakeCall[data-doctorid = " + availableDoctors.doctor[i].docId + "]").length > 0) {

                    var elem = $(".clsDivDocList .clsMakeCall[data-doctorid = " + availableDoctors.doctor[i].docId + "]");
                    elem.show();

                    elem.data("connId", availableDoctors.doctor[i].connectionId);

                    elem.closest(".clsDivDocList").find(".clsNotMakePhone").hide();

                    elem.closest(".clsDivDocList").find(".clsNotAvailbleForCall").hide();
                    elem.closest(".clsDivDocList").find(".clsAvailbleForCall").show();
                    elem.closest(".clsDivDocList").find(".clsAvailableSpot").css('color', 'green');
                }
            }
        }

        function getReceiverConnectionId(receiverConnectionId) {
            $("input[id$='receiverConnectionId']").val(receiverConnectionId);
        }

        function makeCallToDoctor(e) {
            setDoctorID($(e).attr("data-doctorid"));
            var curElem = $(e);
            var PatientName = "Patient";
            //alert("calling");

            chat.server.sendMessageToDoctor(
            {
                SenderId: '@SessionHandler.UserInfo.Id',
                UserName: '@SessionHandler.UserInfo.Email',
                ReceiverConnectionId: curElem.data("connId"),
                ReceiverId: '20',
                SenderType: 'Patient',
                Message: JSON.stringify({ status: 'call', name: PatientName }),
                UserGroup: 'doctors'
            });
        }


        $(function () {

            chat.client.receiveMessage = function (msgFrom, msg, senderConnId, senderid) {
                if (msgFrom != "ChatHub") {

                    var msgJson = JSON.parse(msg);

                    if (msgJson.status == 'Accepted') {
                        alert("Doctor " + msgJson.name + " accepted your request please continue with payment process.");
                        $('#wizard').smartWizard('goToStep', 2);
                        $('.buttonNext').show();
                        $('.buttonPrevious').show();
                        //Save SignalR Information to local storage so that it can be used whenever needed.
                        var signalRInfo = {
                            SenderId: '@SessionHandler.UserInfo.Id',
                            UserName: '@SessionHandler.UserInfo.Email',
                            ReceiverConnectionId: $('#ddlAvailableDoctors').val(),
                            ReceiverId: senderid,
                            RecipientName: msgJson.name
                        }

                        var strSignalRInfo = window.JSON.stringify(signalRInfo);
                        localStorage.setItem('signalRInfo', strSignalRInfo);
                    } else {
                        alert("Sorry! Doctor " + msgJson.name + " is not available now to consultation call.");
                    }
                }
            };


            // Declare a function on the chat hub so the server can invoke it
            chat.client.showConnected = function (message) {
                //$('#messages').empty();
                $('#ddlAvailableDoctors').empty();
                availableDoctors.doctor = [];

                $.each(message, function (index, value) {

                    // $('#messages').append('<li onclick=getReceiverConnectionId("' + value.ConnectionId + '");> Id: ' + value.Id + ', FirstName: ' + value.FirstName + ', LastName: ' + value.LastName + ', Logged On ' + value.Connected + ', Email: ' + value.UserName + ', ConnectionId:' + value.ConnectionId + '</li>');
                    $('#ddlAvailableDoctors').append('<option value=' + value.ConnectionId + '>' + value.FirstName + ', ' + value.LastName + '---' + value.UserName + '</option>');
                    //availableDoctors.doctor.push()

                    availableDoctors.doctor.push({
                        connectionId: value.ConnectionId,
                        FirstName: value.FirstName,
                        LastName: value.LastName,
                        UserName: value.UserName,
                        docId: value.Id
                    });

                });

                checkAnyDoctorAvailableNow();

            };

            // Start the connection
            $.connection.hub.logging = true;
            $.connection.hub.start().done(function () {
                var id = $.cookie('Id');
                chat.server.adminJoin().done(function () {
                    //alert("New doctor has joined... Refresh list;");
                    chat.server.getUsers();
                });

                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.sendMessageToDoctor(
                    {
                        SenderId: '@SessionHandler.UserInfo.Id',
                        UserName: '@SessionHandler.UserInfo.Email',
                        ReceiverConnectionId: $('#ddlAvailableDoctors').val(),
                        ReceiverId: '20',
                        SenderType: 'Patient',
                        Message: JSON.stringify({ status: 'call', name: 'Patient' }),
                        UserGroup: 'doctors'
                    });
                    // Clear text box and reset focus for next comment.
                });



            });
        });
    </script>
    <script>
        $(document).ajaxSuccess(function (evt, request, settings) {
            console.log(request.responseText);
            //if (response.isRedirect) {
            //    window.location.href = response.redirectUrl;
            //}
        });
        </script>


    @RenderSection("scripts", required: false)

</body>
</html>
