@model DataAccess.CustomModels.PatientProfileWithExtraInfoVM
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<!-- page content -->
<div class="right_col">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Patient Profile</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="width:100%; height: 177px;" id="map"></div>
                        </div>
                    </div>
                    <div class="row p-30">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="dr_info w-bg box-s">
                                <div class="map-box">
                                    <div class="box-inner">
                                        <img src="@Model.ProfilePhotoBase64" alt="" class="m-b-10 img-circle img-responsive" width="126" height="126">
                                    </div>

                                    <h2 class="text-center">@Model.FirstName @Model.LastName <br> <small style="color: #73879C;">(@Model.GetAge())</small></h2>

                                    <p class="m-tb-15 text-center">
                                        <i class="fa fa-language" aria-hidden="true"></i>
                                        @foreach (var item in Model.Languages)
                                        {
                                            <span>@item</span><span>&nbsp;</span>
                                        }
                                    </p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Location: @Model.City, @Model.State</p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp Mobile: @Model.HomePhone</p>

                                    @*<div class="text-center">
                                            <button type="button" class="m-t-20 btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp Send Message</button>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gray-bg p-30 gray-light-bdr-t-1">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="border-left"></div>

                                @if (Model.lstPatientFamilyHistoryVM != null && Model.lstPatientFamilyHistoryVM.Count > 0)
                                {
                                    var lastFamilyHist = Model.lstPatientFamilyHistoryVM.LastOrDefault();

                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Family History</b></h4>
                                    <p style="margin-left: 25px;">
                                        @foreach (var item in Model.lstPatientFamilyHistoryVM)
                                        {
                                            if (item == lastFamilyHist)
                                            {
                                                <spam>@string.Format("{0} {1}", item.DeasesName, (!string.IsNullOrEmpty(item.Relation) ? "(" + item.Relation + ")" : ""))</spam>
                                            }
                                            else
                                            {
                                                <spam>@string.Format("{0} {1},", item.DeasesName, (!string.IsNullOrEmpty(item.Relation) ? "(" + item.Relation + ")" : ""))</spam>
                                            }
                                        }
                                    </p>
                                }


                                @if (Model.lstPatientHealthConditionsVM != null && Model.lstPatientHealthConditionsVM.Count > 0)
                                {
                                    var lastHealthCondition = Model.lstPatientHealthConditionsVM.LastOrDefault();

                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Health Conditions</b></h4>
                                    <p style="margin-left: 25px;">
                                        @foreach (var item in Model.lstPatientHealthConditionsVM)
                                        {
                                            if (item == lastHealthCondition)
                                            {
                                                <spam>@item </spam>
                                            }
                                            else
                                            {
                                                <spam>@item,</spam>
                                            }
                                        }
                                    </p>
                                }

                                @if (Model.lstPatientMedicationVM != null && Model.lstPatientMedicationVM.Count > 0)
                                { var lastMedication = Model.lstPatientMedicationVM.LastOrDefault();

                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Medications</b></h4>
                                    <p style="padding-left: 25px;">
                                        @foreach (var item in Model.lstPatientMedicationVM)
                                        {
                                            if (item == lastMedication)
                                            {
                                                <span>@item.MedicineName</span>
                                            }
                                            else
                                            {
                                                <span>@item.MedicineName,</span>
                                            }
                                        }
                                    </p>
                                }

                                @if (Model.lstPatientAllergiesVM != null && Model.lstPatientAllergiesVM.Count > 0)
                                {
                                    var lastAllergies = Model.lstPatientAllergiesVM.LastOrDefault();
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Allergies</b></h4>
                                    <p style="padding-left: 25px;">
                                        @foreach (var item in Model.lstPatientAllergiesVM)
                                        {
                                            if (item == lastAllergies)
                                            {
                                                <span>@item.AllergyName</span>
                                            }
                                            else
                                            {
                                                <span>@item.AllergyName,</span>
                                            }
                                        }
                                    </p>
                                }

                                @if (Model.lstPatientSurgeryVM != null && Model.lstPatientSurgeryVM.Count > 0)
                                {
                                    var lastSurgery = Model.lstPatientSurgeryVM.LastOrDefault();
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Surgeries and Procedures</b></h4>
                                    <p style="padding-left: 25px;">
                                        @foreach (var item in Model.lstPatientSurgeryVM)
                                        {
                                            if (item == lastSurgery)
                                            {
                                                <span>@item.BodyPartName</span>
                                            }
                                            else
                                            {
                                                <span>@item.BodyPartName,</span>
                                            }
                                        }
                                    </p>
                                }

                                @if (!string.IsNullOrEmpty(Model.oPharmacy))
                                {
                                    <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Pharmacy</b></h4>
                                    <p style="margin-left: 25px;">
                                        @Model.oPharmacy
                                    </p>
                                }
                            </div>
                        </div>
                    </div><!--/.modal body-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


@section scripts{
    <script>
        function myMap() {

            var lat = '@Model.Latitude';
            var lon = '@Model.Longitude';

            if (lat == '' && lon == '') {
                var mapCanvas = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8
                });

                var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder, mapCanvas, '@Model.City');
            }
            else {

                var mapCanvas = document.getElementById('map');

                var mapOptions = {
                    center: new google.maps.LatLng(lat, lon),
                    zoom: 5
                }
                var map = new google.maps.Map(mapCanvas, mapOptions);
            }

        }

        function geocodeAddress(geocoder, resultsMap, address) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEPd0Djg3V92IbdK1u77KPZCWa-1se_H8&callback=myMap"></script>

}