@model DataAccess.CustomModels.PatientProfileVM
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<!-- page content -->
<div class="right_col">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Patient Profile</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="width:100%; height: 177px;" id="map"></div>
                        </div>
                    </div>
                    <div class="row p-30">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="dr_info w-bg box-s">
                                <div class="map-box">
                                    <div class="box-inner">
                                        <img src="@Model.ProfilePhotoBase64" alt="" class="m-b-10 img-circle img-responsive">
                                    </div>

                                    <h2 class="text-center">@Model.FirstName @Model.LastName <br> <small style="color: #73879C;">(@Model.GetAge())</small></h2>

                                    <p class="m-tb-15 text-center">
                                        <i class="fa fa-language" aria-hidden="true"></i>
                                        @foreach (var item in Model.Languages)
                                        {
                                        <span>@item</span><span>&nbsp;</span>
                                        }
                                    </p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp Location: @Model.City, @Model.State</p>
                                    <div class="gray-bdr-b-1"></div>
                                    <p class="m-tb-15"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp Mobile: @Model.HomePhone</p>
                                     
                                    @*<div class="text-center">
                                            <button type="button" class="m-t-20 btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp Send Message</button>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gray-bg p-30 gray-light-bdr-t-1">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="border-left"></div>

                                @if (Model.Height > 0)
                                {
                                <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Height</b></h4>
                                <p style="padding-left: 25px;"> @Model.Height</p>
                                }

                                @if (Model.Weight > 0)
                                {
                                <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Weight</b></h4>
                                <p style="padding-left: 25px;">@Model.Weight</p>
                                }

                                @if (!string.IsNullOrEmpty(Model.TimeZone))
                                {
                                <h4 style="color: #0061b2;"><i class="fa fa-circle" style="width: 15px; font-size: 14px;" aria-hidden="true"></i>&nbsp <b>Time Zone</b></h4>
                                <p style="padding-left: 25px;">@Model.TimeZone</p>
                                }
                            </div>
                        </div>
                    </div><!--/.modal body-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


@section scripts{

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(@Model.Latitude, @Model.Longitude),
    zoom: 5
  }
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEPd0Djg3V92IbdK1u77KPZCWa-1se_H8&callback=myMap"></script>

}