@model WebApp.Models.LoginRegisterViewModel

    @{
        ViewBag.Title = "Log in";
        Layout = "~/Views/Shared/_AccountsLayout.cshtml";
        ViewBag.IsPatient = false;
    }


    <div id="register" class="animate form registration_form">
        <section class="login_content">
            <img src="~/Content/images/Logos.png" />
            @using (Html.BeginForm("Signup", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Create Account</h1>
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div>
                    @Html.TextBoxFor(m => m.RegisterViewModel.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                </div>
                <div>
                    @Html.TextBoxFor(m => m.RegisterViewModel.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                </div>

                <div>
                    @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control", @placeholder = "Email Address" })
                </div>
                <div>
                    @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div>
                    @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                </div>
                <div>
                    <input type="submit" class="btn btn-primary submit" value="Submit" />
                </div>
                @*<div>
                        @Html.CheckBoxFor(m => m.IsPatient, new { @onChange = "chkChange()", @id = "chkIsPatient" })
                        <label for="chkIsPatient" id="lblIsPatient">Register as a Patient</label>
                    </div>*@

                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        <a href="#signin" class="to_register"> Log in </a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            }


        </section>
    </div>



