@using WebApp.Helper;
@model IEnumerable<DataAccess.CustomModels.PSurgeries>
@{
    Layout = null;
}

@if (Model == null || Model.Count() == 0)
{
    if (ViewBag.Error != "")
    {
        <script>
            $(function () {
                new PNotify({
                    title: 'Error',
                    text: "@ViewBag.Error",
                    type: 'error',
                    styling: 'bootstrap3'
                });
            });

        </script>
    }
    

}
 
<div class="table-responsive" id="divPatSurgeries">
    <table class="table" style="margin-bottom: 5px;">
        <tbody>
            <tr>
                <td style="border-top: none">Have you ever had any surgeries or medical procedures?</td>
                <td style="border-top: none">
                    <div class="text-right">
                        @*<label> No <input type="checkbox" class="js-switch" /> Yes
                           
                        </label>*@
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="color:red; display:none;float:right" id="divsurgery">Surgery is required.</div>
                    <div class="input-group" style="width: 100%;">
                        <input type="text" name="country" placeholder="Add Surgery" id="myBodyPart" class="form-control" />
                    </div>
                </td>
                <td width="10%">
                    <div style="color:red;display:none" id="btnsurgery"><label></label></div>
                    <button class="btn btn-primary" style="max-width: 200px; float: right; margin-right: 0;" type="button" id="addsurgery">Add Surgery</button>
                </td>
            </tr>
            <tr>
                <td><b>Have you ever had any of the following? (Check All that Apply)</b></td>
                <td><b></b></td>
            </tr>
            @if (Model != null || Model.Count() > 0)
            {
                var j = 1;
                <tr>
                <td>                    
                        @foreach (var item in Model)
                        {
                            <div class="checkbox" style="display: inline-block; width: 160px;">
                                <label>
                                    <input name="@item.bodyPart" id="@item.surgeryID" type="checkbox" class="flat" onclick="alert(@item.bodyPart)";>&nbsp; @item.bodyPart
                                    <script>
                                        if(@item.surgeryID!=0)
                                        {
                                            $('#' + @item.surgeryID).prop('checked', true);
                                        }
                                        else
                                        {
                                            $('#' + @item.surgeryID).attr("id","chk"+@j);
                                        }

                                    </script>
                                </label>
                            </div>

                            if (j == 4)
                            {
                                <br>
                            }
                            j = j + 1;
                        }

                    </td>
                    <td></td>
                </tr>

            }
        </tbody>
    </table>
</div>

<!-- Datatables -->
<script>
    $(document).ready(function()
    {
        $('#divPatSurgeries input').on('ifChecked', function(event){
            if(event.target.id.indexOf("chk") >= 0)
            {
                var surgeryID = 0;//.replace(/[^0-9]/g, '');
                var bodyPart = this.name;
                var objSurg= {};
                objSurg["patientID"]='@SessionHandler.UserInfo.Id';
                objSurg["bodyPart"]=bodyPart;
                addSurgeries(objSurg,surgeryID);
            }
            else
            {
                if($("#"+this.id).prop('checked') == true)
                {
                
                    var surgeryID = this.id;//.replace(/[^0-9]/g, '');
                    var bodyPart = this.name;
                    var objSurg= {};
                    objSurg["patientID"]='@SessionHandler.UserInfo.Id';
                    objSurg["bodyPart"]=bodyPart;
                    addSurgeries(objSurg,surgeryID);
                }
            }
        });
    });
    $(function()
    {

        $('#divPatSurgeries input').on('ifUnchecked', function(event)
        {

           // if($("#"+this.id).prop('checked') == false)
            //{
                //if (confirm("Are you sure you want to delete?")) {
                    //alert($(this).attr('id'));
                     showLoader();
                     var surgeryID = this.id;//.replace(/[^0-9]/g, '');

                    $.ajax({
                        url: '@Url.Action("DeleteSurgery", "SeeDoctor")',
                        type: "POST",
                        data: {"surgeryID":surgeryID},
                        dataType: 'json',
                        success: function (result) {
                            //Reload container
                            if (result.Message != undefined)
                            {
                                new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                                hideLoader();
                            }
                            else
                            {
                                //reloadContainer(function () {
                                new PNotify({ title: 'Success', text: "Surgery is deleted successfully.", type: 'info',addclass: 'dark', styling: 'bootstrap3' });
                                //Stop displaying loader
                                hideLoader();
                                //});
                            }

                        },
                        error: function (err) {
                            new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                            //Stop displaying loader
                            hideLoader();
                        }
                    });

                    return;
                //}
                //else
                //{
                //    $(this).closest("input").icheck('check');
                //    return false;
                //}
            //}

            });
    });
   
        function addSurgeries(_objSurg,surgeryID)
        {
            
            showLoader();
            $.ajax({
                url: '@Url.Action("AddUpdateSurgeries", "SeeDoctor")',
                type: "POST",
                data: {"surgeryID":surgeryID,"surgery":_objSurg},
                dataType: 'json',
                success: function (result) {
                    //Reload container
                    if (result.Message != undefined)
                    {
                        new PNotify({ title: 'Error', text: result.Message.ReasonPhrase, type: 'error', styling: 'bootstrap3' });
                        hideLoader();
                    }
                    else
                    {
                        //reloadContainer(function () {
                        new PNotify({ title: 'Success', text: "Surgery is added successfully.", type: 'info',addclass: 'dark', styling: 'bootstrap3' });
                        reloadSurgeries(function () {
                            //Stop displaying loader
                          
                        });
                        hideLoader();


                    }

                },
                error: function (err) {
                    new PNotify({ title: 'Error', text: err.statusText, type: 'error', styling: 'bootstrap3' });
                    //Stop displaying loader
                    hideLoader();
                }
            });
        }

        function reloadSurgeries() {
            $("#divSurgery").load('@Url.Action("PartialViewSurgery", "SeeDoctor")', function () {
                $('#divPatSurgeries input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });

            });


        }

        $(document).ready(function () {
            $("#myBodyPart").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/SeeDoctor/AutocompleteSurgery",
                        type: "POST",
                        dataType: "json",
                        data: { "prefix": request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.surgeryName, value: item.surgeryName };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
            //GetSurgeries();
            //GetPatientSurgeries(@ViewBag.PatienID);


            $('#addsurgery').on('click', function () {
                if ($("#myBodyPart").val() == "") {
                    document.getElementById("divsurgery").style.display = "block";
                    document.getElementById("btnsurgery").style.display = "block";
                }
                else {
                    document.getElementById("divsurgery").style.display = "none";
                    document.getElementById("btnsurgery").style.display = "none";
                    var _objSurgery={};
                    _objSurgery["patientID"]='@SessionHandler.UserInfo.Id';
                    _objSurgery["bodyPart"]=$("#myBodyPart").val();
                    addSurgeries(_objSurgery,0);
                }

            });
            $('#surgeryCheckbox').on('click', function () {
                if ($('#surgeryCheckbox')[0].checked) {

                    document.getElementById("myBodyPart").style.display = "block";
                    document.getElementById("addsurgery").style.display = "block";
                }
                else {
                    document.getElementById("myBodyPart").style.display = "none";
                    document.getElementById("addsurgery").style.display = "none";
                    document.getElementById("divsurgery").style.display = "none";
                    document.getElementById("btnsurgery").style.display = "none";
                }

            });
        });

</script>
<!-- /Datatables -->